[2015-10-03 13:53] smpallen99 opened #1 "Inline validation messages not displayed"
Submit a form with a blank belongs to does not display the inline error message. Furthermore, the form returns with the first item selected, which it shouldn't.

[2015-10-03 13:54] smpallen99 opened #2 "Need a proper read me file"
Need install and usage instructions on the readme.

[2015-10-03 13:55] smpallen99 opened #3 "Empty string on required field does not fail validation"
Need to sanitize string fields to they fail validation.

[2015-10-03 13:55] smpallen99 opened #4 "Document the api"
Complete application needs @moduledoc and @doc

[2015-10-03 13:56] smpallen99 opened #5 "Configuration needs to be easier"
Need to remove the Xain config items for an app that uses ExAdmin

[2015-10-03 16:32] smpallen99 commented on #1
Fixed both the display of the inline error message was well as not setting selected on the field

[2015-10-03 16:32] #1 closed

[2015-10-03 18:32] smpallen99 commented on #3
Now strips blanks fields

[2015-10-03 18:32] #3 closed

[2015-10-03 19:32] smpallen99 opened #6 "adding datatime column on index page raises an exception"
index do
  column :inserted_at
end

does not work.

[2015-10-03 22:29] smpallen99 opened #7 "Override Actions column on index page should be better"
I don't like the idea of using "Actions" to override. This should have its own api (macro)

[2015-10-16 17:02] smpallen99 opened #8 "Remove reference/dependencies to AuthEx"
Authorization hooks in the solution are tied to AuthEx. Need to add a way to hook in different authorize and load resource hooks as plugin or config.

[2015-10-16 17:05] smpallen99 opened #9 "Route integration should support adding additional plugs"
Cannot easily add an auth plug to the route macro. Need to change this design so it integrates with other pipelines in the application's router.ex file

[2015-10-16 17:08] smpallen99 commented on #4
Much of the application has been documented. Still some minor areas to complete.

[2015-10-16 17:10] smpallen99 commented on #2
Updated readme file complete.

[2015-10-16 17:10] #2 closed

[2015-10-16 17:12] smpallen99 opened #10 "Support plug :protect_from_forgery in the router"
Currently, protect_from_forgery is not being correctly handled in the forms. The `admin_routes` macro disables the :protect_from_forgery plug. Need to fix this.

[2015-10-16 17:13] smpallen99 opened #11 "Need test suite"
The library does not have a very comprehensive test suite. Need to add lots more tests.

[2015-10-16 17:57] smpallen99 opened #12 "Add bread crumb support"
Should look at https://hex.pm/packages/breadcrumble It may be something we want to use.

[2015-10-16 18:00] smpallen99 commented on #6
Work around is to display it with an anomy func.

[2015-10-16 18:01] smpallen99 opened #13 "Index page column sort images are missing"
Sortable columns should have icons indicating sort direction.

[2015-10-20 18:43] tmock12 opened #14 "admin.html seems to be missing?"
Following the installation guides, I get the error message:
[code]

Which I just happened to notice is the same message @smpallen99  got at ElixirConf. Do you know what would cause this and how I should fix it?
<img width="738" alt="screen shot 2015-10-20 at 2 41 05 pm" src="https://cloud.githubusercontent.com/assets/1124585/10617445/a7b0e7ba-7738-11e5-9c85-ca1badd6afb4.png">

[2015-10-20 19:06] smpallen99 commented on #14
try `mix deps.compile` that just worked for me.

[2015-10-20 20:13] tmock12 commented on #14
Yay, that did it! I had run `mix do deps.get, compile` but looking at it now, it doesn't look like it runs the compile command. I've put in a PR to update the README.

[2015-10-20 20:13] #14 closed

[2015-10-21 01:48] smpallen99 commented on #13
Fixed.

run `mix admin.install' install the new files.

[2015-10-21 01:48] #13 closed

[2015-10-22 03:47] smpallen99 commented on #6
Fixed

[2015-10-22 03:47] #6 closed

[2015-10-24 16:12] tispratik opened #16 "Could not render "admin.html""
I am getting the below error

Could not render "admin.html" for ExAdmin.AdminView, please define a matching clause for render/2 or define a template at "web/templates/admin". No templates were compiled for this module.
Assigns:

My env is:
    [{:phoenix, "~> 1.0.3"},
     {:phoenix_ecto, "~> 1.1"},
     {:postgrex, ">= 0.0.0"},
     {:phoenix_html, "~> 2.1"},
     {:phoenix_live_reload, "~> 1.0",

[2015-10-24 16:29] tispratik commented on #16
Seems like in the below method the put_layout is not loading the html "relative-ly"

[code]

[2015-10-24 17:13] smpallen99 commented on #16
I believe you are experiencing issue #14. Try compiling yor deps with 'mix deps.compile'

[2015-10-25 13:33] tispratik commented on #16
Still the same :(

[code]

[code]

[2015-10-25 15:14] smpallen99 commented on #16
I just tried setting up a new project and had the same issue. After receiving the issue, I ran `mix deps.compile ex_admin` and started the phoenix server again. That fixed the issue.

Other things to look at:
* make sure you have your router.ex file setup and your config entry per the instructions printed when you run `mix admin.install`. For my Blog project, these instructions were:
[code]

If th

[2015-10-25 22:30] tispratik commented on #16
Hey @smpallen99,  Thank you very much for helping me out.
The repo is https://github.com/tispratik/helloelixir

One thing thats a little bit different in my app is having support for multiple sub-domains.
So, to visit admin page, i visit mydomain.com/admin while the subdomains being foo.mydomain.com and bar.mydomain.com

But i have tested against that and it does not seem to be affecting the issue

[2015-10-26 01:23] smpallen99 commented on #16
I pushed a couple updates earlier that removes the dependency on haml for ex_admin. I believe this was causing the need for recompiling the ex_admin dep after running `mix admin.install`.

I have @tispratik helloelixir project working now. Here are the diffs from the working project:

[code]

[2015-10-26 16:01] tispratik commented on #16
Oh wow! Thank you very much for taking time to look into it @smpallen99.
So, the difference i see is that you also added it to the sub domain router.
I will check it out.

[2015-10-26 16:11] smpallen99 commented on #16
The other difference is that I used the newer version of ex_admin that does not have a dependency on haml. I noticed that you project code had the haml config commented out. I’m wondering if that was not setup properly and was causing your issues. I converted the haml templates into eex on ex_admin, so this dependency is not needed anymore.

I did not try your subdomain access to admin, only `http

[2015-10-26 16:28] tispratik commented on #16
Awesome! I got it working after `mix do deps.update ex_admin, deps.compile ex_admin`.
It worked even after removing the following lines from the subdomain router as expected.

[code]

I am sooo glad to see the admin screen after many tries :+1:
Thanks a bunch!

[2015-10-26 16:28] #16 closed

[2015-10-30 14:28] smpallen99 commented on #12
Complete

[2015-10-30 14:28] #12 closed

[2015-10-30 17:30] smpallen99 commented on #10
Fixed. Correctly generates the csrf_token in forms and added the plugin back into the admin_routes macro.

[2015-10-30 17:30] #10 closed

[2015-10-30 17:52] r-icarus commented on #9
Is there currently a way to add a plug?

[2015-10-30 18:24] smpallen99 commented on #9
There is support for adding controller plugs in the register_resource DSL. However, I don't yet have support for adding a router plug. If you want to add a router plug, then find the ExAdmin.Router in the your deps directory, and copy over the admin_routes macro code (the pipeline :admin and scope ... code).

See the docs in ExAdmin.Register for an example of adding a controller plug:

[code]

[2015-10-30 18:35] r-icarus commented on #9
I thought about copying the admin_routes code but I thought it was good to ask first. Thanks!

[2015-10-30 19:20] smpallen99 commented on #9
Actually, don't bother. Just pushed an update that supports using your own pipeline. After you update the dep, try this in your  router  `admin_routes pipeline: :browser`, then you add what ever you want in that pipeline.

[2015-10-30 19:20] #9 closed

[2015-11-07 18:38] smpallen99 opened #17 "Delete record fails CSRF"
Using default admin_routes, deleting a record from the index page, and the view page fails CSRF.

[2015-11-07 19:22] smpallen99 opened #18 "Exception when trying to delete record with foreign key constraint"
Get an exception when trying to delete record with a foreign key constraint. Need to handle this case and give valid error message, or handle a cascading delete.

[2015-11-09 23:28] smpallen99 commented on #17
Fixed. Added supporting code in jquery-ujs.js. You will need to remove this file from your projects priv/static/js directory and rerun mix admin.install to get the new copy.

[2015-11-09 23:28] #17 closed

[2015-11-09 23:30] smpallen99 commented on #18
Closing this as not an issue. The responsibility of cascading the delete should be the responsibility of the model, or the database. I solved this issue in the project I found the issue by adding a on delete cascade to the reference constraint

[2015-11-09 23:30] #18 closed

[2015-11-09 23:39] smpallen99 opened #19 "Add support and docs for installing css and js files when using brunch."
Currently, ExAdmin copies the css and js files into your project's priv/static/ directory. This is an issue if you are using brunch, and don't have the priv/static tracked in git.

To manually fix this, run `mix admin.install`. Then move the `active_admin.css.css`, `jquery-ujs.js.js` and `jquery.js` files to your project's `web/static/vendor` directory. Then edit your `brunch-config.js` like this.

[2015-12-01 17:57] smpallen99 opened #20 "Advancing page clears filters"
On the index page, apply a filter. Then click the page 2 link. Filter is removed. I should advance to the next page with the filter still applied.

[2015-12-01 21:37] smpallen99 opened #21 "Clear form not working"
The javascript to handle clear form button is missing.

[2015-12-17 14:15] tispratik commented on #19
Thanks, this is helpful.

[2015-12-17 14:50] tispratik opened #22 "Authentication support"
Can you give some guideline on how to add the admin interface under authentication?
When i tried to put it under my app's '/auth' pipeline, i am getting the following error:

[code]

[code]

[2015-12-17 15:05] tispratik commented on #22
[code]

Gives the error:
`** (CompileError) web/router.ex:1: function 'Myapp.Plug.Authenticate'/2 undefined`

[2015-12-17 16:00] smpallen99 commented on #22
First, create a pipeline for your authentication:
[code]

Then use that pipeline with admin_routes:
[code]

[2015-12-25 02:41] tispratik commented on #22
Thanks @smpallen99. That worked!

[2015-12-25 02:41] #22 closed

[2016-01-11 14:38] tispratik opened #23 "Upgrade to latest Phoenix?"
$ mix deps.get
Running dependency resolution
Looking up alternatives for conflicting requirements on phoenix
  Activated version: 1.1.2
  From mix.exs: ~> 1.1.2
  From deps/ex_admin/mix.exs: ~> 1.0.2

** (Mix) Hex dependency resolution failed, relax the version requirements or unlock dependencies

[2016-01-13 02:37] smpallen99 commented on #23
I'm working on a branch to support elixir 1.2 and phoenix 1.1.2.

[2016-01-16 22:44] tispratik commented on #23
Thanks @smpallen99

[2016-01-16 22:44] #23 closed

[2016-01-16 22:51] tispratik opened #25 "How to setup many to many?"
Hello,

I have a user model and a site model. Users can belong to many sites and a sites can have many users. So, i have a `user_site` model. When i add a user, i need to associate him/her with a site. Can you suggest how to do it? The following did not work for me.

[code]

user_site.ex
[code]

[2016-01-17 15:21] smpallen99 commented on #25
Try the following:

[code]

[2016-01-18 13:27] tispratik commented on #25
Thanks @smpallen99 I am getting the following error:

[code]
[debug] Processing by ExAdmin.AdminController.create/2
  Parameters: %{"_csrf_token" => "foo", "commit" => "Create User", "resource" => "users", "user" => %{"email" => "t@t.com", "name" => "Prats", "site_ids" => ["", "1"]}, "utf8" => "✓"}
[code]

[2016-01-18 13:33] smpallen99 commented on #25
Looks like Ecto changed their internals. I'll try to get some time this evening to look at it.

Steve

[2016-01-18 14:36] tispratik commented on #25
Great, thanks!

[2016-01-18 18:04] smpallen99 commented on #25
Updated master for latest Ecto 1.1 and pushed a fix for this issue. Also added the repo I used to test it.

https://github.com/smpallen99/admin_demo

[2016-01-18 18:53] tispratik commented on #25
Great, thanks Steve. I will test it out this evening.

On Mon, Jan 18, 2016 at 10:04 AM Steve Pallen <notifications@github.com>
wrote:

[2016-01-19 19:30] r-icarus opened #26 "Date and boolean fields are always nil."
Is there a default format for dates?  Is there any way to show a boolean as a check box?
Right now both are shown as text inputs but when I submit the form the value is always nil (for booleans)

[2016-01-21 05:48] smpallen99 commented on #26
Just pushed support for datetime, date, time, and boolean fields to master.

[2016-01-21 05:48] #26 closed

[2016-01-21 05:48] #25 closed

[2016-01-22 00:35] r-icarus commented on #26
I just tried, this. It is amazing. Thank you!

[2016-01-25 20:52] tispratik commented on #25
That works! Thanks a lot for fixing it.

[2016-02-15 17:16] knewter opened #27 "Installer generates inappropriate `xain` configuration"
https://github.com/smpallen99/ex_admin/blob/master/lib/mix/tasks/admin.install.ex#L102

That should be a 2-tuple for {M, F} - i.e. `{Phoenix.HTML, :raw}`.  This caused me about 20 minutes of fiddling when I tried this out just now for the first time.

The project's awesome by the way :)

[2016-02-15 17:34] smpallen99 commented on #27
Thanks Josh. I updated the project to be compatible with exrm releases which don't support the Elixir &Module.function/arity syntax and forgot to update the mix task. Working on a fix now. Just thinking about  something to catch the issue when upgrading to this new format.

[2016-02-15 17:57] smpallen99 commented on #27
Fixed the mix.install task. Added compile time check and exception if not configured correctly.

[2016-02-15 17:57] #27 closed

[2016-02-16 16:15] fhunleth opened #28 "Temporary file path in register.ex is invalid on Windows"
Admittedly, running on Windows is not a common practice for me, but I ran in to this hardcoded path while trying something out:

https://github.com/smpallen99/ex_admin/blob/bb20665a1bb2af2967e19f4b1bef666c963632e1/lib/ex_admin/register.ex#L43

As you'd expect, `/tmp` isn't on Windows.

[2016-02-18 04:19] britton-jb opened #29 "Index rendering association xain error"
I'm attempting to render an index view in ex_admin an it returns the following error:
`FunctionClauseError no function clause matching in Xain.Helpers.id_and_class_shortcuts/2`

Including this full stack trace:

[code]

It looks like it's related to a model association I've built and or the data involved in a particular instance of that model, but I'm unsure what other data would be most helpful i

[2016-02-18 17:50] smpallen99 commented on #29
Agree that more information would be helpful. I could take a look at it if I could understand how to reproduce the problem.

I can tell from the stack trace that id_and_class_shortcuts is being called with nil for the contents param that must be a binary and that its happening on the index page since the issue is happening in view_filter which should only be used for index pages.

If you do figure

[2016-02-18 17:52] smpallen99 commented on #28
I don't have a windows elixir setup to test a fix. Your welcome to submit a pull request with a fix, or I can take a stab at a fix on a branch and let you test it :)

[2016-02-18 18:36] fhunleth commented on #28
I ended up giving up on Elixir on Windows - not due to ex_admin. I'm going to try to circle back at some point, since it would be nice to develop natively. If you happen to make a change that fixes this in the mean time, I'll gladly retest.

[2016-03-01 20:50] skydan opened #32 "Demo/screenshots wanted"
Are you guys considering adding access to demo page or some screenshot section to increase early adopters engagement?

[2016-03-04 07:25] kenta-polyglot opened #33 "Image file upload"
Do you plan to add "Image file upload" ability to ex_admin?

We are looking forward to it.

[2016-03-10 20:25] smpallen99 commented on #28
merged pull request

[2016-03-10 20:25] #28 closed

[2016-03-11 19:33] smpallen99 commented on #21
fixed

[2016-03-11 19:33] #21 closed

[2016-03-11 19:33] smpallen99 commented on #20
fixed

[2016-03-11 19:33] #20 closed

[2016-03-12 15:38] cpursley commented on #32
Ditto. A live demo (or at minimum, a demo app we can pull down and run) would be really great. Screenshots would be helpful as well.

[2016-03-12 15:56] smpallen99 commented on #32
I'm thinking of doing a live demo similar to activeadmin's live demo. http://demo.activeadmin.info/admin/dashboard
Is that what you are looking for?

[2016-03-12 16:02] cpursley commented on #32
Yes, that would rock! I'm a huge activeadmin fan and the productivity it brings and have been looking for a elixir/phoenix equivalent for some time. Thanks for the work you've put into this project.

[2016-03-12 16:50] smpallen99 commented on #32
Will try to get to it this coming week, after I get a project I started last night up and running. In the mean time, I have a demo project I've been using for testing some features on ex_admin. Its a bit of a silly example, but does work. Its configured for mysql, so you will need to change deps and config to get it working with postgres.

https://github.com/smpallen99/admin_demo

[2016-03-12 20:07] cpursley commented on #32
Oh neat, thanks. The admin looks a whole lot like activeadmin.

[2016-03-13 19:00] romul commented on #33
@kenta-polyglot
After proposed patch you could use something like:
[code]

[2016-03-13 19:14] romul opened #41 "Nested tags don't work properly inside row macro"
[code]
produces
[code]

instead of

[code]

[2016-03-14 01:28] kenta-polyglot commented on #33
@romul
Great patch.
I can't wait to be merged :)

[2016-03-16 23:41] #33 closed

[2016-03-17 01:34] smpallen99 commented on #33
Thanks for the patch. I just pushed an enhancement to make the show syntax a little easier. It works in index and show views.

[code]

[2016-03-17 07:00] romul commented on #33
Thank you :+1:

[2016-03-25 00:02] OvermindDL1 opened #42 "ex_admin has issue accessing models with fields that end in _id"
The log of a test session is:

[code]

The Model schemas:

[code]

And similar errors on the other two models.  There is no :session field in the UserSession, only a :session_id field, the _id seems to be getting trimmed off for unknown reason, causing ex_admin to crash.

[2016-03-25 01:12] smpallen99 commented on #42
Looks like I'm assuming that fields ending ending in _id are associations. What is in your resource modules? Are they empty defaults created by mix admin.gen.resource? I'll git it a try and see if I can reproduce the issue.

[2016-03-25 01:21] OvermindDL1 commented on #42
@smpallen99 Ah, yeah it was a rewrite of an older system so I kept the old name.  The link to the entire model (and rest of the) source is:  https://bitbucket.org/overminddl1/forgestats/src/677fdda7e8d2bf82b246540748ba27e0e6b3aa17/web/models/?at=admin-interface

And the ex_admin generated files (all stock/unmodified from `mix admin.gen.resource`) is:  https://bitbucket.org/overminddl1/forgestats/s

[2016-03-25 01:24] OvermindDL1 commented on #42
@smpallen99 Also, great talk about elixir and the phone system you are building at your company, that is what led me to your repo as a curious look when I saw it a few hours ago and found ex_admin.  :-)

[2016-03-25 01:30] smpallen99 commented on #42
@OvermindDL1 Thanks for the feedback :)

[2016-03-25 02:23] smpallen99 commented on #42
As a work around, you can define the various actions in the resource file. For example, the following should render the session_id and user_id fields. I just reproduced the issue and the following renders the index page:
[code]

[2016-03-25 02:57] OvermindDL1 commented on #42
@smpallen99 Awesome, that worked to display it, however crash again when I clicked 'View', seems it is still trying to use the invalid atom :session instead of :session_id via:

[code]

Thanks for the help!

[2016-03-25 03:03] smpallen99 commented on #42
hang tight. I almost have it fixed

[2016-03-25 03:23] smpallen99 commented on #42
@OvermindDL1 I now check fields ending in _id to see if there is an association of the same name. If not, rending the _id field like any other field. Go ahead and close the issue if fixed.

[2016-03-25 03:25] smpallen99 opened #43 "Form does not save belongs_to association in default form"
When saving a default form (no `do form` in resource module), the selected option is not saved.

[2016-03-25 03:32] smpallen99 commented on #43
Looks like this isn't an issue with ExAdmin. I missed the widget_id in optional_fields. After adding the field in the model changeset, it works fine.

[2016-03-25 03:32] #43 closed

[2016-03-25 03:32] OvermindDL1 commented on #42
@smpallen99 Testing now...  Still compiles clean, only warnings are (if you are curious):

[code]

And running, UserSession works, though I wish it showed _ instead of space in the field names (guessing that is the style from the old Ruby bit, all good), however failing with the other two, Cmd and ExtraData:

Cmd:

[code]

ExtraData:

[code]
Although this one is... very different, hmm...

Is the :

[2016-03-25 03:45] smpallen99 commented on #42
Displaying User Id as the field name is design intent. IMHO, it makes more sense to remove the _ when displaying to users. However, you can override this by customizing the pages, and passing label: "User_id" to the rows and columns.

The :name missing is an issue I'm aware of. I'm working on large set of features now, and hope to have them available in about a week. I will be looking at this :nam

[2016-03-25 03:55] OvermindDL1 commented on #42
Cool, adding the fields to its column got it to display, however clicking View/Edit causes the same error again about `Could not find field :name`.

Any ideas about the error that ExtraData is causing?

[code]

Again, thanks for the help!  :-)

[2016-03-25 04:01] smpallen99 commented on #42
I think you have a typo in `belongs_to :user_session, ForgeStats.Stats.UserSession`. Should it not be `Stat`, not `Stats`?

Also, I see you have a :map type in the `extradatas` schema. I've never tested that type, so I'm not sure how it will be handled... I'll have to give that a try in the next couple days.

[2016-03-25 04:04] smpallen99 commented on #42
BTW, you need to set the fields: [] option in the show and form pages as well as index so the reflection code can figure out what field to render for the association.

[2016-03-25 16:53] smpallen99 opened #44 "Default pages can't render association without :name field in schema"
Throws an exception saying that :name field cannot be found. I would like solution to:
* Look for a `:name` field in the association
* Look for a display_name/1 function in the Admin Resource Module
* Look for a display_name/1 function in the Model's Module
* Use the 2nd field in the Model's schema

[2016-03-25 16:54] smpallen99 opened #45 "Menu Items are displayed in the reverse order they appear in the config file"
Would like the menu items to appear in the order in which they are defined in the config file

[2016-03-25 16:57] smpallen99 opened #46 "Fields of type Ecto.UUID show error in Filter sidebar"
Get an error message on the filter page for type Ecto.UUID. Would like the filter page to show a drop down of all the possible uuids for filtering. Note that we can't do a text entry and db like since postgres does not support this. Furthermore, I don't think it makes sense anyway.

[2016-03-25 17:00] #44 closed

[2016-03-25 17:00] #45 closed

[2016-03-25 17:00] #46 closed

[2016-03-25 17:02] smpallen99 commented on #42
@OvermindDL1 Just pushed a commit that supports rendering associations without :name field. Also fixed issue with UUID fields in filter sidebar. I believe I have all your issues resolved so I'm closing this issue. Please reopen if you are still having issues.

Steve

[2016-03-25 17:02] #42 closed

[2016-03-25 17:28] OvermindDL1 commented on #42
@smpallen99 That did indeed fix the :name issue as well, thanks much!

[2016-03-25 17:31] OvermindDL1 commented on #42
Would you happen to know if this error is perhaps Scrivener's error, or any ideas otherwise?

[code]

I have the full debug accessible at http://files.minecraftforge.net:4001/admin/extra_datas for a bit today if you want to examine?

[2016-03-25 19:33] smpallen99 commented on #42
I responded to you on this issue last night. I believe you have a typo. Should be `Stat`, not `Stats`. See my comment above ...

[2016-03-25 19:37] OvermindDL1 commented on #42
Ah sorry, missed that message.  :-)

Now how the heck did that get there and not cause any issues yet, I even had things being displayed back at one point...  >.>

Thanks for pointing out my misspell, I've looked at that file dozens of times and not seen it, this is why I like statically compiled and *typed* languages.  ^.^

[2016-03-25 19:41] OvermindDL1 opened #47 "Map datatype crashed"
As mentioned in #42 you had not used the Ecto Map datatype yet, and although ex_admin displays it fine it crashes when attempting to edit it:

[code]

For note, the Map datatype maps to the PostgreSQL JSONB datatype, a fully indexable on any query binary JSON database, so displaying it in a JSON editor would probably make the most sense.  Also filtering queries on it can be *very* advanced by bein

[2016-03-26 04:03] smpallen99 commented on #47
I can't find any information on how phoenix handles map types. Furthermore, I tried to create a model with map type using `phoenix.gen.html Info infos ref data:map`.

The migrations work, but the scaffolding does not work.

So, I will have an issue adding support in ExAdmin until I figure out how to use the fields in a basic Phoenix app. Can you provide an example of using maps in index, show, edi

[2016-03-26 14:06] smpallen99 commented on #47
@OvermindDL1 Here is how I'm thinking of handling map types, and any other unknown type. What do you think?

* Index page - if the term is unprintable, do an inspect on it
* Show page - same. if unprintable, do an inspect on it
* Form page - if unknown type, print the field only, don't allow it to be edited.

I suppose, if it is a map, I would render a form field for every field in the map. This w

[2016-03-26 16:24] smpallen99 opened #48 "Add sortable option to column in table_for"
I would like to add sortable columns like this:

[code]

[2016-03-26 16:56] smpallen99 opened #49 "add search options to filter page for string fields"
Similar to how it works for integer fields, add a select box with the following options for string fields.
"Contains", "Equals", "Starts with", "Ends with"

[2016-03-26 17:18] smpallen99 opened #50 "Support multiple index page types"
Would like to support multiple index macros for the same resource, each with a different type. When multiple are found, a control should be displayed to select the type. For example:

[code]

[2016-03-26 19:23] OvermindDL1 commented on #47
Well the Map datatype in Ecto is actually quite literally an Elixir Map datatype ${}.  See http://elixir-lang.org/docs/stable/elixir/Map.html for details.  So as long as it supports those then it should be able to do anything.  Maps are definitely unprintable by default, but if you use, say, the [Poison](https://github.com/devinus/poison) library (the most common JSON library for Elixir/Phoenix) t

[2016-03-26 21:51] smpallen99 commented on #47
Protocols... Good idea. I'll take a look at that. Thanks

[2016-03-27 01:06] smpallen99 commented on #47
I'm just about to submit an update that handles the displaying the map fields. However, it will be much more difficult to automatically decode the form data during an :create or :update. You can use a controller before filter. For example:

[code]

I've updated the docs in `lib/ex_admin/ex_admin.ex` to explain how to add new type renderers.

[2016-03-27 01:09] #47 closed

[2016-03-27 07:14] smpallen99 commented on #32
I have a live demo up and running now. Check it out at [Live Demo](http://demo.exadmin.info/admin). I hope it is what you were looking for. Still more work to do on the dashboard page. Coming soon...

Note: I added a lot of new features to support this demo. Enjoy!!

[2016-03-27 07:14] #32 closed

[2016-03-27 07:15] smpallen99 commented on #41
@romul this should be fixed now, but I have not tested it on the latest.

[2016-03-27 13:05] cpursley commented on #32
Thanks!

[2016-03-27 14:25] smpallen99 opened #51 "Support dashboard contents"
Add support for columns and panels

[2016-03-28 22:35] OvermindDL1 commented on #47
Very nice!  Will examine shortly.  Thanks much!  ^.^

[2016-03-30 18:29] ramstein74 opened #52 "Not an issue but csv upload would be nice..."
Can you add to your tasks the upload csv.
You already have a download csv so you are half way...

Thank you

[2016-03-31 15:55] smpallen99 opened #53 "Support themes"
Replace the activeadmin UI with a new UI skin. At that same time, allow for different add-on themes.

[2016-03-31 15:57] smpallen99 commented on #52
I have this functionality in a project I built for work. The code contains on domain specific logic I will have to remove... I'll take a look at it soon.

[2016-04-23 09:59] sobolevn opened #56 "Hex Package"
Hello. Thank you for your superb package. I have managed to get it to work with less than 10 minutes. And I will use it in production.

Everything is fine except the installation process. I don't really trust installing my deps from github. As there's no guaranty for it to work straight from the `master` branch. So the question is:

Why don't you create a hex package?

[2016-04-23 10:41] sobolevn opened #57 "binary_id issue"
There's an issue when working with `binary_id`. I guess it happens when trying to convert in to `int` somewhere in the code. Here's the exception message:

Full trace:

<img width="1280" alt="2016-04-23 13 37 04" src="https://cloud.githubusercontent.com/assets/4660275/14760899/d7b68d2c-0958-11e6-80d6-1a2d0328967f.png">

My thoughts:

<img width="1005" alt="2016-04-23 13 37 28" src="https://cloud.g

[2016-04-23 14:52] smpallen99 commented on #56
I've been hesitant on releasing to hex since until I was fairly sure it was ready. I've been working on a fairly large refactor to support a brand new look and feel (theme) as well as providing support for the existing one.

However, perhaps its time to release the current version. I'll see If I have some time this week to look into moving this and its dependencies into hex.

[2016-04-23 14:58] smpallen99 commented on #57
@sobolev I have not worked much with binary ids. Can you provide some models a migrations that will reproduce the issue? Should not be difficult to fix once I have a setup to reproduce.

[2016-04-23 18:07] sobolevn commented on #57
Sorry, the issue was with my custom controller.

[2016-04-23 18:12] smpallen99 commented on #57
I did find an issue with my testing of a model with a binary foreign key with all defaults:

[code]

[2016-04-23 23:34] smpallen99 commented on #57
Looks like its not an issue. I missed the blog_id in my model's @required_fields. Works fine after adding that.

[2016-04-23 23:34] #57 closed

[2016-04-24 01:17] smpallen99 commented on #56
@sobolevn Thanks for the push. ExAdmin and its dependencies have all been published to Hex.

[2016-04-24 01:17] #56 closed

[2016-04-24 03:40] smpallen99 opened #58 "Support Ecto 2.0"
Fix issues with Ecto 2.0

[2016-04-24 04:00] smpallen99 commented on #58
I have tested ex_admin_demo project with Ecto 2.0. However, more testing is required to ensure all Ecto 2.0 changes have been caught.

[2016-04-24 04:00] #58 closed

[2016-04-24 13:49] smpallen99 commented on #53
I have a new theme partially working. I'm thinking this will be the the default them, with the option of using the old theme. Note that the theme selector at the top right of the page can be disabled by configuration. Any feedback on the new theme?

<img width="1385" alt="screen shot 2016-04-24 at 9 43 52 am" src="https://cloud.githubusercontent.com/assets/891045/14767960/7ea716c6-0a01-11e6-9e7e-8

[2016-04-24 13:53] smpallen99 opened #61 "Integer filter select does not work"
When filtering on Less than or Greater than, it always filters on Equals.

[2016-04-24 15:06] smpallen99 commented on #61
Fixee

[2016-04-25 02:42] jeffdeville opened #63 "Model w/ out 'id' field breaks by default, because of Sorting"
I have a table w/out a autoincrementing id field, and it fails w/ the following error:

deps/ex_queb/lib/ex_queb.ex:120: field `App.MyModel.id` in `order_by` does not exist in the model source in query

Is there a place to override the default order by field by any chance?

[2016-04-25 08:04] piyushchauhan2011 opened #64 "Integer field filter search shows result by first option only"
![screen shot 2016-04-25 at 6 01 27 pm](https://cloud.githubusercontent.com/assets/693487/14777377/0438cb22-0b10-11e6-846f-602a8483c363.png)

When I select `greater than` option in select menu, it default backs to `equal to` and search using that.

[2016-04-25 12:29] smpallen99 commented on #64
This is a duplicate of #61 which has been fixed. Thansk

[2016-04-25 12:29] #64 closed

[2016-04-25 12:31] smpallen99 commented on #63
@jeffdeville No option or workaround that I can think of. I'll try to get it fixed today.

[2016-04-25 12:35] jeffdeville commented on #63
Wow, that'd be awesome, thank you!  Seems like the problem is in ex_queb/lib/ex_queb.ex:122. It assumes an id field. I'd be happy to try and help, but I'm stuck at the moment understanding how this code doesn't blow up, because 'c' isn't defined anywhere. Just getting back into elixir, so I'm afraid I'm not as helpful as I'd like.

[2016-04-25 13:29] smpallen99 commented on #63
@jeffdeville think of c as a variable used in the macro `from`, which gets set to the item in the query so you can do something like `c.id` to refer to a specific field.

Currently, I have a test passing that derives the correct primary field from the schema. I need to add some edge cases. I also want to add something to override the default sort field. With this, you will be able to set the field

[2016-04-25 17:45] smpallen99 commented on #63
@jeffdeville still working on this fix, but is a large change. many different parts of ex_admin assume id key...

[2016-04-25 18:59] smpallen99 commented on #63
@jeffdeville Just pushed fix to branch v0.7.3. Make sure your project gets ex_queb  github:
[code]

Let me know how it works.

[2016-04-25 19:00] smpallen99 commented on #63
I should leave this open until I port to master branch.

[2016-04-25 19:14] jeffdeville commented on #63
So far so good, I'll continue playing w/ it though, as I see you made some big changes.  Thanks Steve!

For anyone else who may be looking, this is what I changed my deps to:

{:ex_queb, github: "E-MetroTel/ex_queb", override: true},
{:ex_admin, github: "smpallen99/ex_admin", branch: "v0.7.3", override: true},

[2016-04-26 03:27] #63 closed

[2016-04-26 14:54] OvermindDL1 commented on #53
That looks very nice!  Looking forward!

[2016-04-26 15:19] smpallen99 commented on #11
I started some tests in my last update. We can build on this for new tests. Quite frankly, where to start is a little daunting since there is a lot of code. I'll start adding with bug fixes....

[2016-04-26 16:05] vinnymac commented on #53
@smpallen99 I like the new look 👍

Any plans on using responsive styles akin to https://github.com/ball-hayden/responsive_active_admin ?

[2016-04-26 16:48] smpallen99 commented on #53
@vinnymac Like this?

I think the index table needs some work...

![screen shot 2016-04-26 at 12 45 33 pm](https://cloud.githubusercontent.com/assets/891045/14826703/1beb143a-0bad-11e6-9555-6f35aae9c0ef.png)
![screen shot 2016-04-26 at 12 46 07 pm](https://cloud.githubusercontent.com/assets/891045/14826704/1bec7866-0bad-11e6-8eba-2fecde6bfca7.png)
![screen shot 2016-04-26 at 12 46 29 pm](https://c

[2016-04-26 19:14] smpallen99 commented on #11
travis setup and tests are passing 👍

[2016-04-27 12:22] sobolevn opened #68 "`column` label with spaces error"
This is easy to fix, I guess.

I have a code like this:

    panel "Registrations" do
        table_for event.registrations do
          column "Full name", fn(item) -> text full_name(item) end
          column "Email", fn(item) -> text item.email end
        end
      end

Which produces this broken output:

<img width="737" alt="2016-04-27 15 19 19" src="https://cloud.githubusercontent.com/asset

[2016-04-27 15:14] smpallen99 opened #69 "Relationship without name field throws exception"
Create a belongs_to/has_many relationship with a schema that does not have an name field throws excpetion

[2016-04-27 16:32] Gazler opened #70 "Ambigious link_to"
I have just upgraded from a previous version (https://github.com/smpallen99/ex_admin/commits/700b3259b386b1143aec731f8e271f419291f215)

I am now getting the following error on compilation:

[code]

The cause is something like:

[code]

[2016-04-27 16:33] Gazler commented on #70
I can fix it by explicitly specifying `ExAdmin.Utils.link_to`, however it seems like only one should be exported after calling `use ExAdmin.Register`.

[2016-04-27 17:18] Gazler commented on #70
Just realised I can do:

[code]

[2016-04-27 17:18] #70 closed

[2016-04-28 02:00] #69 closed

[2016-04-28 02:06] smpallen99 commented on #68
Issue resolved on v0.7.3 and master. Used the wrong issue number in the commits. See issue #69 for the commits that fix this issue.

[2016-04-28 02:06] #68 closed

[2016-04-28 02:08] smpallen99 commented on #69
This was an issue with my schema definition and nothing to do with ex_admin. Also note that the commits listed are for issue #68, not this issue.

[2016-04-28 02:10] smpallen99 commented on #11
Have a few controller tests now.

[2016-04-29 13:35] smpallen99 opened #71 "Add sort action to routes"
Sorting action was not included in the admin routes. Also, need to add csrf token support.

[2016-04-29 15:40] smpallen99 opened #72 "Some insert and updates fail due to not using insert! and update!"
When working on project with nested resources, I was getting some repo failures. Need to use insert! and update! when expecting the resource back.

[2016-04-29 15:41] smpallen99 opened #73 "Form submission with nested table throws not a function exception"
Missing an if is_function... in the form module.

[2016-04-29 15:53] #72 closed

[2016-04-29 15:53] #73 closed

[2016-04-30 10:00] sobolevn opened #74 "Internal server error on missing id"
I have faced a small issue with the urls. Here's what I am talking about:

If you try to visit http://demo.exadmin.info/admin/orders/100500 (or generally any link with non-existing id) it will fail with the server error and 500 status. Like:

But it's expected to return 404 status.

Here's what happens with debug turned on:

I can help with this one, if needed.

[2016-04-30 10:10] smpallen99 commented on #74
@sobolevn, I would appreciate the help. I'd like to see the fix in v0.7.3 branch and master if you could.

[2016-04-30 10:42] sobolevn commented on #74
How do you think this should be implemented?

I have figured out, that the error occurs in these lines: https://github.com/smpallen99/ex_admin/blob/2344daecc2dc41623ec806d804ab8d471cb0f568/web/controllers/admin_controller.ex#L159

The smallest fix I did was:

    if resource == nil do
        throw :invalid_route
    end

But I guess it should be implemented in a standard `Phoenix`-way with custom

[2016-04-30 10:48] sobolevn commented on #74
Or something like the following: https://github.com/phoenixframework/phoenix/blob/e3c23a364af4f2283e2498fdb47c60161f262a1f/lib/phoenix/endpoint/render_errors.ex

[2016-04-30 19:16] smpallen99 commented on #74
I'm wondering if we should render 404/500 with projects main Error View? If the wrong resource is give, or the record could not be found, render the 404. Other erorrs will automatically render the 500. I'm not exactly sure how the 404 gets rendered on a regular phoenix project, but should be pretty easy to figure out. Phoenix must wrap the action in a try block and send the 404 for a `Ecto.NoResul

[2016-05-01 13:42] sobolevn commented on #74
Ready to be closed?

[2016-05-01 15:23] smpallen99 commented on #74
I'll merge it into master then close it.

[2016-05-01 20:04] smpallen99 commented on #53
I just pushed the new template support to `themes` branch. Would be great if someone could give it a try and give me some feedback. Note, this is an ecto 1.x branch.

[2016-05-01 20:06] smpallen99 commented on #53
@sobolevn Could you give the new themes branch a try? Would be great to get your feedback. It should up up to day with the latest v0.7.3 branch.

[2016-05-01 21:08] sobolevn commented on #53
@smpallen99 sure thing.

[2016-05-01 21:33] sobolevn commented on #53
It does not work for me.

What have I done:
1. Removed everything from `_build`, `deps`, disabled cache in browser
2. Changed `mix`'s `deps` to: `{:ex_admin, git: "https://github.com/smpallen99/ex_admin.git", branch: "themes"},`
3. Changed the `config.exs`:

[code]

4. `mix admin.install` does not even create `themes` folder, however I have added it to the `endpoint.ex`

I can't see any changes. I

[2016-05-01 22:35] AvaelKross opened #77 "Replace default layout"
I'm using branch and want to include 1 js file instead of 7(and I'm wondering why we need 7 files here).
Can I somehow replace default layout file with my own?

[2016-05-01 22:44] smpallen99 commented on #77
Thanks for the note. I need to review the js files and make sure I'm including only the ones that I need for the template. I'll also consolidate them into a single file...

I'll also look at a feature to override the layout file.

[2016-05-01 22:45] smpallen99 commented on #53
@sobolevn I suspect your still picking up the old version. Try this:
[code]

[2016-05-01 23:56] sobolevn commented on #53
I have managed to get it to work by changing the `mix.exs` to:

`{:ex_admin, github: "smpallen99/ex_admin", ref: "aba5379769f733a03a7756a72e0b7e2689e6e75d"},`

And `mix.lock` (was not working before that):

`  "ex_admin": {:git, "https://github.com/smpallen99/ex_admin.git", "aba5379769f733a03a7756a72e0b7e2689e6e75d", [ref: "aba5379769f733a03a7756a72e0b7e2689e6e75d"]},`

It looks pretty nice! I can

[2016-05-02 00:52] smpallen99 commented on #53
Just updated [ExAdmin Demo](http://demo.exadmin.info/admin/products) with the new theme.

[2016-05-02 11:28] sobolevn commented on #53
It looks pretty solid across all devices I was able to test. Did not find any bugs. Here are some screenshots:

<img width="456" alt="2016-05-02 14 27 06" src="https://cloud.githubusercontent.com/assets/4660275/14953419/0e37201c-1072-11e6-954b-935d0e813f7e.png">
<img width="458" alt="2016-05-02 14 26 45" src="https://cloud.githubusercontent.com/assets/4660275/14953420/0e393bea-1072-11e6-912e-6088e

[2016-05-02 20:14] smpallen99 opened #78 "Customize the logo and logo-mini"
Would like config items to customize the logo lines.

Something like

[code]

[2016-05-03 00:20] #78 closed

[2016-05-03 00:20] smpallen99 commented on #74
merged in master

[2016-05-03 00:20] #74 closed

[2016-05-03 08:52] blisscs opened #79 "Could not delete in batch."
Hello,

I just started trying ex_admin.
I am having issue when doing batch delete.
I am getting this issue

`no function clause matching in ExAdmin.AdminController.to_integer/2.`

I am forking this repo to try to fix. Please hint me where to look for this issue.

[2016-05-03 10:01] blisscs commented on #79
Please see this pull request #80  for fix.
Let's me know if I didn't solve it at the right place.

[2016-05-03 11:42] smpallen99 commented on #77
I played around with supporting custom layouts without a lot of success. I had issues with resolving layout dependencies. I am, however, partially complete a refactor of consolidating css and js files which I'm focused on. Furthermore, I'm probably going to add a brunch option to the install mix task to put the static files in web/static.

@AvaelKross Will consolidating the css and js files to one

[2016-05-03 11:47] smpallen99 opened #81 "Support brunch of static files"
Add an option to the install task to copy static files to project's web/static and print the brunch-config.js lines that should be added.

I've been debating if brunch should be the default, with an option bypass it and move the files to priv/static, or if the brunch mode should be the option. I'm leaning toward having brunch as the option since it requires more manual config to get the admin up a

[2016-05-03 11:51] smpallen99 opened #82 "Consolidate static files"
The new theme layout requires a number of css and js files. I would like consolidate those files so each them requires 1 css and 1 js file. This is part of issue #77, but breaking it out as a separate issue since I'll be delivering this before considering custom layout files.

[2016-05-03 12:20] sobolevn opened #83 "Custom global actions support"
I would like to suggest to add a layout to support custom global actions. Here's the usecases:

1. Logout (my usecase at the moment)
2. Jump to the main site
3. Report a problem
4. View docs
5. Change password
6. View profile

Or any others defined by the developer. It is possible to add them on the separate `div` under the `<div class="header" id="header">...</div>`. Or to the right-end of it.

H

[2016-05-03 12:58] sobolevn commented on #83
Well, I have found this new demo: http://demo2.exadmin.info/admin
It probably partially solves my question with `Logout` button. But it's still not clear about other possible actions.

[2016-05-03 13:26] smpallen99 commented on #83
Good idea. I'm wondering if this functionality should be added to config? The other option would be to add a separate with an appropriate DSL. At this time, I think config would be the way to go. Something like:
[code]

Might also be nice to support a template:

[code]
If we are doing this, then we should also support pull down menu item too...

Need to think about it a bit more.

@sobolevn Is thi

[2016-05-03 13:33] sobolevn commented on #83
Yes, you got my idea right. It don't think, that putting `html` in config is nice. But I like the `DSL`-way.

[2016-05-03 15:14] smpallen99 commented on #83
After more thought, I don't think a DSL is the way to go. At this point ExAdmin is not stateful except for the html dsl builder. Adding a new file with DSL would require state management that I don't think would any value over config.

I can see how some might not want to put html in the config file, but its not really an issue for me since I've done this several projects where I want to offer som

[2016-05-03 15:16] smpallen99 commented on #61
Looks like this is broken again on themes branch.

[2016-05-03 16:00] sobolevn commented on #83
Well, I got your point. I can help you with adding `config` options.
What branch is the latest one?

[2016-05-03 16:12] smpallen99 commented on #83
@sobolevn I've been developing on `themes` branch. After finished and pushed, I merge it into master. I'm tying to clean up the static files for the new themes. After I finish that, I'm going to move it to 0.7.4 branch and publish on hex.

Short answer `themes` branch :)

[2016-05-03 19:28] #61 closed

[2016-05-03 21:13] bsidoruk opened #86 "JQuery Error with Delete action in Safari"
When I run ExAdmin in my project I noticed that I'm getting this JQuery error in web inspector in regards to the delete actions:

    Error: Syntax error, unrecognized expression: a[data-method='delete'

I checked out your example project and noticed the same error.  When you try to delete in the index page, it redirects to the show. From there the delete just reloads the page.

[2016-05-04 11:39] sobolevn opened #87 "AdminLte Theme: menu does not close on iPad"
When you click on `close` nothing happens.

Before click:
<img width="106" alt="2016-05-04 14 35 42" src="https://cloud.githubusercontent.com/assets/4660275/15013009/89835152-1205-11e6-95c3-67bbd60c6892.png">

After:
<img width="124" alt="2016-05-04 14 35 24" src="https://cloud.githubusercontent.com/assets/4660275/15013013/8f959da2-1205-11e6-9cba-913b4ba35abb.png">

Tried different pages - same re

[2016-05-04 11:45] romul opened #88 "Master branch have some dependencies issues on Ecto 2.0"
Some of dependencies are still locked to 1.x version of Ecto:

[code]

[2016-05-04 12:12] smpallen99 commented on #87
Your right, iPhone is not  even usable. Can't see the left nav stuff at all. Collapse/Expand button does nothing.

[2016-05-04 12:17] smpallen99 commented on #86
what version of ex_admin are you using?

[2016-05-04 12:29] smpallen99 commented on #87
just tried the template from the site I got it from and the side bar works fine. So, it looks like I'm either missing some markup or some css or js files.

@sobolevn I don't mind posting minor issues separately. BTW, I don't classify this as a minor issue since iphone is not usable without the have bar :) Good catch! Thanks...

[2016-05-04 12:40] smpallen99 commented on #88
I'll open an issue on ex_queb and fix it in master. I'll update the the deps in ex_admin to point to github version of ex_queb.

I'm not sure I can do anything with scrivener yet, but I'll post an issue there.

In the mean time, you can get around this by adding override: true on the deps in your main project file.

Always a pain managing deps on around beta and rc versions of dependencies. :(

St

[2016-05-04 15:26] bsidoruk commented on #86
I was using 0.7.2, but I tried adding your themes branch to mix.exs(as it seemed to be the most recently updated) and it was still having this issue.

[2016-05-04 15:40] bsidoruk commented on #86
I just tried this out in Firefox, and it seems to work there, so it looks like it may be a Safari only issue

[2016-05-04 15:59] bsidoruk opened #89 "Add fields doesn't work with has_many in form"
When using nested attributes in a form with the has_many command, the 'add' button does not append the blank fields to the form.  If a nested attribute already exists, the forms do appear with the correct data filled in, but trying to update them leads to the error:

    protocol Ecto.Queryable not implemented for :error, the given module does not exist

[2016-05-04 16:12] smpallen99 commented on #89
@bsidoruk What version of ex_admin are you using. It is mostly working on the `themes` branch. I just tested it in chrome and safari on http://demo2.exadmin.info with success except for one issue. If you add a phone number, the delete button is not work. So, I'll have to take a look at that. I don't expect it to work on v0.7.2 or on master.

I'm working issue #82 right now. Once I have the complet

[2016-05-04 16:38] bsidoruk commented on #89
I'm also using the themes branch.  The add phone number example worked for me as well, but for some reason it doesn't appear to be working with my app.  I've formatted my form the same as your example in the docs.  Also, in regard to a using a collection for a select tag, is there a way to specify a different value  for an option than the key? Like you can do in Phoenix.HTML

select(form, :role, [

[2016-05-04 16:46] #88 closed

[2016-05-04 16:52] smpallen99 commented on #86
Agree. I just confirmed the issue on safari. I'll add it to my backlog. Thanks...

[2016-05-04 16:58] bsidoruk commented on #86
Thanks for looking into it

[2016-05-04 17:01] smpallen99 commented on #89
The http://demo2.exadmin.info app has an example of selecting roles. However, it is a many-to-many example using a join table. Couple questions:
* is your role field a string?
* are you trying to do a nested attributes (like the phone_numbers example?)
* could you post the relevant parts of your models?

Steve

[2016-05-04 17:24] bsidoruk commented on #89
Yes the the field is a string, and I'm nesting it like the phone_numbers example.  It seems from briefly looking at your code, that it should be compatible with binary tuples, but I'm getting an error with the string key:

    protocol String.Chars not implemented for {:"Admin", "admin"}

In regards to the nested fields, my relation is a one-to-many, so maybe that is the difference.  However I'm n

[2016-05-04 17:39] smpallen99 commented on #89
Brad, I'm still trying to wrap my head around this so I can write a test case and give you a fix :)

So, role is a string field. My assumption then, is that there is no Role schema(model). But then, I don't see how you could use nested attributes approach (generate a new role  in, lets say, the User form) since there would be no way to reuse that role for another User.

Or perhaps you do have a ro

[2016-05-04 17:52] bsidoruk commented on #89
I was using role as an example from the Phoenix.HTML docs.  What I'm using is something more like a User has many Addresses, so it is a one to many relationship.  So I am trying to set it up something like this in admin/user.ex:

    form user do
      inputs "Addresses" do
        has_many user, :addresses, fn(a) ->
          input a, :street
          input a, :phone_number
          input a, :t

[2016-05-04 19:19] smpallen99 commented on #89
Perfect, that should give me enough to test it out... I'll take a quick look now.

[2016-05-04 19:37] romul commented on #88
@smpallen99 Yeah, you are right. Thanks for the quick response.

[2016-05-04 19:45] smpallen99 commented on #89
Ok, can reproduce the issue with the following models:

[code]
[code]

This will take some work since I did not account for the case of simple has_many relationship. I will need to update view generators as well as the repo code that reflects on the relationship and creates the model...

[2016-05-04 20:23] bsidoruk commented on #89
Thanks so much for checking this out

[2016-05-05 06:41] sobolevn opened #90 "wysiwyg and/or markdown support"
I have got a need for this feature. What do you think of it?

Something like:

[code]

[2016-05-05 13:00] smpallen99 commented on #90
I would welcome a pull request for this feature. There is wysiwyg support for the [admin_lte](https://almsaeedstudio.com/preview) template. You would probably have to add the css/js files.

[2016-05-05 14:01] smpallen99 opened #91 "Support collection tuples in form"
We currently support
[code]

But we would like to support:
[code]

This request came from issue #89

[2016-05-05 14:05] smpallen99 opened #92 "Humanize headings on nested tables"
Right now, the following code in a form displays the column headings as unformatted field names. They should be humanized consistent with the other field headings.

[code]

[2016-05-05 14:09] smpallen99 opened #93 "Paginate nested tables"
The  panel  -> table_for on the  show page does not paginate the results. There should be an option to paginate these. This will be a large and fairly complicated feature and would be a great contribution for someone 👍

[2016-05-05 14:12] smpallen99 commented on #89
I have has_many working for one-to_many relationship. Need to do a bit more testing before I push it.

I'll add the collection as a tuple request under issue #91 that I just created.

[2016-05-05 15:16] smpallen99 opened #95 "Add default collection for has_many relationship."
Right now, the following syntax is required for a default has_many collection:
[code]

If you drop the `collection: MyApp.User.all` you an error on Association not loeaded`. We should be able to fetch the collection and populate the drop down box appropriately.

[2016-05-05 16:22] romul opened #96 "Enhancement: Ability to manage many-to-many associations with sorting support and etc."
Hi,
I'd like to implement in ex_admin a support of complex cases with N:M associations and associations sorting support.
For example, you have categories, each category has many properties and each property could belongs to several categories. So, we have 3 tables: categories, properties, categories_properties (intersection table).
Besides, we could set some extra attributes in categories_properti

[2016-05-05 16:42] smpallen99 commented on #96
Yes, I'm interested!! Couple notes:

1. I presume your already familiar with the sortable support as demonstrated in [Contact Demo](http://demo2.exadmin.info/admin/categories).
2. Love the idea of autocomplete
3. I have some support for ajax support which i have not tested in a long time. I don't have any published examples or documentation on it yet. I have an old project that uses ajax form item

[2016-05-05 16:51] smpallen99 commented on #96
Here  is gist with some [dynamic form building code](https://gist.github.com/smpallen99/a65aebe5e80ded911c5b357a88e4d5b1) that used to work.

[2016-05-05 16:52] bsidoruk commented on #89
That's awesome. Thanks for getting to that so quick

[2016-05-05 17:18] romul commented on #96
@smpallen99 Thank you for the response.

Is there some documentation about JS & CSS organization inside ex_admin?
I guess, I didn't really get how active_admin_lib.js is being assembled and why static/themes is inside `priv` instead of `web` folder. So how could I add new js-file to active_admin_lib and where should be better to put some CSS rules?

[2016-05-05 17:42] smpallen99 commented on #96
@romul: To be honest its a real mess right now. I'm part way through a refactor that will clean much of it up. Probably a couple days away from finishing that work though. The following answers are based on the themes and master branches. Typically, I'm working in themes branch to develop new stuff. I then merge themes into master once i have pushed themes to githhub. Once I finish the static refa

[2016-05-05 17:48] smpallen99 commented on #96
BTW, my end goal is to have brunch build in the ex_admin project to build the installable js, css, and images under priv/static/themes, having 1 js and 1 css file under each of the themes. The admin.install will have an option for brunch. If no option, it will copy the files to projects `priv/static` directory. If brunch option, it will copy to projects `web/static/vendor` directory and provide in

[2016-05-05 20:18] romul commented on #96
@smpallen99 Glad to hear that improving of assets management is in progress :-)
I managed to make a first proof-of-concept implementation of managing associations position through ex_admin.
https://github.com/romul/synergy/blob/master/web/admin/category.ex#L18
https://github.com/romul/synergy/blob/master/web/controllers/admin/category_property_controller.ex
![](https://api.monosnap.com/rpc/file/do

[2016-05-05 21:31] smpallen99 commented on #96
Very cool!!

I wonder if we could handle the sorting by adding a sort option to the table_for macro. Also, would be nice if we could derive the ajax action so its implicit, and add option to override. I like the idea of using a collection_action and keeping it all in the resource file, instead of requiring a separate controller.

I like the sort_handle helper.

Good work.

BTW, I just reviewed how

[2016-05-06 05:13] blisscs opened #97 "Unique Constraint Issue."
It's not possible to detect unique_constraint validation and give a nice error.
I see in the code that we check for valid? before doing insert or update.
And I see that when we do insert or update we presume that it's always success.
Probably by doing we miss the case when people has a unique_index and unqiue_constraint validation on the model.

In web/controllers/admin_controller.ex
[code]

In li

[2016-05-06 06:16] smpallen99 commented on #97
Yes, changeset validation appears to be broken.

[2016-05-06 08:46] romul commented on #96
@smpallen99
+1 for default implicit action, but I wonder why you are fond of putting all to one controller?
Honestly, it's already looks like a "god object". I guess, it would be much better to have several tiny controllers to improve readability of source code. We already have a `admin_routes` macro and separate namespace for admin controllers, so there is no problem to have many admin controller

[2016-05-06 11:20] smpallen99 commented on #96
@romul I get your point about "god object". So far, I've taken the approach that the resource file is where you go to customize the resource. Simply one file. I appreciate the push back on this concept.

BTW, In the ajax example I posted yesterday, It had external controllers and views...

[2016-05-06 17:19] caleb opened #98 "Theme selector javascript uses the `let` statement"
Hi,

I'm having a problem with the Javascript in the master branch of ExAdmin because my browser (Safari) doesn't yet support the ES6 `let` keyword:

https://github.com/smpallen99/ex_admin/blob/a459a1af602b9992b33150a8f5ab6f9596fbc544/web/templates/layout/active_admin.html.eex#L56

Thanks for your work on ExAdmin, It's a great way to get up and running with Phoenix, and the new theme is awesome!

[2016-05-06 18:37] bsidoruk opened #99 "Adding stylesheets to head"
Because Ex Admin is using it's own layout for rendering the admin pages, I am unable to include a stylesheet link in the page head.
Such as:
[code]
I was wondering if there was a way that I could inject a stylesheet link into the page head or otherwise edit the page layout template.

[2016-05-06 18:59] #98 closed

[2016-05-06 19:00] smpallen99 commented on #99
I need to add support for that. Great feature!! Hope to get to it soon.

[2016-05-06 19:10] bsidoruk commented on #99
Thanks. That would be awesome.

[2016-05-06 20:17] smpallen99 commented on #99
The docs ...

  ## Adding Custom CSS or JS to the Layout Head

  A configuration item is available to add your own CSS or JS files
  to the `<head>` section of ExAdmin's layout file.

  Add the following to your project's `config/config.exs` file:

    config :ex_admin,
      head_template: {ExAdminDemo.AdminView, "admin_layout.html"}

  Where:
  * `ExAdminDemo.AdminView` is a view in your project

[2016-05-06 20:17] #99 closed

[2016-05-06 20:18] smpallen99 commented on #99
@bsidoruk Hope that works for you...

[2016-05-06 20:20] bsidoruk commented on #99
That's great, thank you!

[2016-05-07 12:36] #97 closed

[2016-05-07 12:38] smpallen99 commented on #97
Constraint errors don't get recoginized until the Repo action is called. Changed the logic in the controller to handle the error correctly. Also add code to merge the constraint failures into errors for proper display of the errors.

[2016-05-08 06:45] smpallen99 commented on #82
admin.install now copies 3 css files and 2 js files plus some images and fonts to priv/static. `brunch build` in ExAdmin generates all these files into priv/static and the installer copies them to projects priv/static.

[2016-05-08 06:45] #82 closed

[2016-05-08 06:47] smpallen99 commented on #53
Just published 0.7.4 to Hex with this feature. Content also in master for ecto 2.0.

[2016-05-08 06:47] #53 closed

[2016-05-08 08:43] #92 closed

[2016-05-08 14:25] #79 closed

[2016-05-08 17:10] bernardoamc commented on #91
Hi @smpallen99

I was planning to give this issue a try and solve it, but I keep running into an error (that is probably my fault) when trying to insert a `has_many` association. [Here is](https://github.com/bernardoamc/ex_admin_demo) the example I made, if you look at `mix.exs` you will see that the `path` for the `ex_admin` dep is being loaded from my machine (the same as master for now). Could

[2016-05-08 17:28] romul commented on #96
Update: Now it works with the following syntax:
[code]

And looks like
![](https://api.monosnap.com/rpc/file/download?id=oeAcF9NVjYS7ql8NfHBjcNHKn0uLk1)

[2016-05-08 18:02] romul commented on #96
@smpallen99 It's possible to change syntax from
`table_for(category.category_properties, sortable: [resource: category, assoc_name: "category_properties"]) do`
to
`sortable_table_for(category, :category_properties) do`

How do you feel, which option is better?

[2016-05-08 19:08] smpallen99 commented on #96
Yes, I'm good with `sortable_table_for`.

[2016-05-08 19:15] smpallen99 commented on #96
@romul Love the toggle! Will that be supported for any column, or just the table_for fields? I hope the former :)

What do you think of adding an option for the text on the toggle buttons? Something like
[code]

[2016-05-08 19:23] romul commented on #96
Excellent idea! Will do.

I have also tested with `index`.. and it works as well:

[code]

[2016-05-08 19:34] smpallen99 commented on #91
@bernardoamc The issue you are facing is likely because you are using the `has_many` macro on simple `one-to-many` relationship. Unfortunately, this macro is a little misleading since It only supports `many-to-many` relationships through a `join table`. I'm working on issue #89 to support this, but its not done yet (very difficult feature).

The idea of this issue is to support the collection keyw

[2016-05-08 19:45] bernardoamc commented on #91
@smpallen99 I see! That is indeed what I am doing, sorry to bother you with this problem. :)

Totally makes sense, I will change the app and try to solve this issue in the next few days. 👍

[2016-05-08 19:53] romul commented on #96
@smpallen99 Done:
[code]
I like this syntax very much.

So b/c this task is fairly large, I propose the following next steps:

1. I'll polish these 2 features and add support of them to active_admin theme as well.
2. You will review and merge it to master
3. Some fixes based on code review if required
4. I'll continue work on AJAX adding associations through select2 and AJAX deletion in separate i

[2016-05-08 20:12] smpallen99 commented on #96
@romul Would really like it if you can submit pull request on my ecto-1.1 branch. I've been doing all my dev on that branch and then merging to master. Does that work for you?

[2016-05-08 20:30] zlatio opened #102 "Upload using arc and ex_aws causes error"
Hi,
There seems to be a problem with file uploads using arc and ex_aws. I am using the exact same setup as in your demo app and I get the following error:
[code]
I am not sure why this happens but seems like it's the same in your live demo app since if I try to upload something I get "Bad gateway" - I tried to run the demo app on my local as well - same thing.

Do you have a clue why this happens

[2016-05-08 20:45] romul commented on #96
@smpallen99 Ok

[2016-05-08 20:49] smpallen99 commented on #102
@zlatio Not sure what your issue is. Here is my mix.lock file from the server:
[code]
The project is a clone of master.

Here is the startup script I use to start the application:
[code]

[2016-05-08 20:58] zlatio commented on #102
Does it work on your server? I tried creating new project but got 500 bad gateway so I assume it have the same issue.

[2016-05-08 21:11] smpallen99 commented on #102
I just tried on http://demo.exadmin.info and I got a bad gateway. However, it work on my local dev machine (mac). I guess I will have to trouble shoot. Here is the mix.lock on my dev machine:

[code]

[2016-05-08 21:14] zlatio commented on #102
Thanks a lot l. I'll try to narrow down what causes the issue.

[2016-05-08 21:45] smpallen99 commented on #102
I just got it working on http://demo.exadmin.info. Turns out that I did not have ImageMagick installed on that server. I noticed in the exception that it could not find executable `convert`. `which convert` should return the path if you have it installed.

[2016-05-09 02:20] bernardoamc commented on #91
Maybe I'm misunderstanding something, but the example below works correctly:

[code]

With `Schema`:

[code]

[2016-05-09 11:29] romul commented on #91
@smpallen99
If I'm right, the following syntax is already supported:
[code]
isn't it?

[2016-05-09 11:48] smpallen99 commented on #91
I thought I tried it the other day without success. but if your saying you tested it an it works, then perhaps I did something wrong. I guess thats a issue with not having tests. Perhaps you could add a test for this scenario.

Thanks,
Steve

[2016-05-09 12:10] smpallen99 commented on #89
@bsidoruk Quick update... I did get the update case working, but ran into some big issues with create. Its going to take a big refactor to get working properly. I was working on the ecto 1.1 branch. However, with all the changes in ecto 2.0 around support for many-to-many associations, I think I'm going to do this work in support for ecto 2.0 only.

Its going to take me a few more days to complete

[2016-05-09 15:25] bsidoruk commented on #89
No worries.  That works for me. Thanks for working on that.

[2016-05-09 18:43] supercodepoet opened #104 "Dashboard view"
Is there a way to pass data for like counts and such to the default Dashboard view. I can't seem to find too much in the docs or examples on how to add items to this view.

Thanks.

[2016-05-09 19:25] #104 closed

[2016-05-10 07:41] romul opened #105 "Support of AJAX delete of resources."
Provide possibility to delete resources without page reloading.
Related to #86

[2016-05-10 17:51] bsidoruk opened #106 "Customization of Columns"
I'm trying to add custom content to one of my columns on the index page

    column "Hits", &(length(&1.hits))

While it creates the column, the contents come back empty.  I also tried this with a row on a show page, and after tracing it through the ex-admin code,  it seems to get lost when it calls the markup :nested macro on the result of the function.
[https://github.com/smpallen99/xain/blob/ma

[2016-05-10 17:55] smpallen99 commented on #106
try
[code]

[2016-05-10 17:56] bsidoruk commented on #106
Thats worked. Thank you

[2016-05-10 17:57] smpallen99 commented on #106
Awesome!

[2016-05-11 14:23] jwarlander opened #109 "Managing many-to-many relationships"
ExAdmin looks pretty awesome, and I'd love for us to be able to use it as the main UI for a very data-centric web application that's just used for managing metadata.

However, is it currently possible to have eg. a BookLabels form (modelling a many-to-many relationship between Books and Labels) optionally create new Book entries, but just select existing Labels?

[2016-05-11 14:28] jwarlander commented on #109
I'm of course happy to help if there's something that's missing for this to work, but I've only had a very cursory look at the ExAdmin source code so far..

Mainly got excited by the possibility of replacing the bare-bones UI generated by Phoenix with something that looks a lot nicer, and seems to require less boilerplate code / templating ;)

[2016-05-11 15:49] smpallen99 commented on #109
@jwarlander I presume your looking for something like a tags input box and when you type tags in that box, it will attach existing tags (many-to-many), or create new tags if they are not found. Probably all AJAX driven. Correct?

If that is what you are looking for, I can say that I have not built that yet.

I'm just about to merge a large PR from @romul that has some cool many-to-many AJAX suppor

[2016-05-11 16:07] jwarlander commented on #109
That's actually a nice idea too, especially if there would be some kind of autocompletion for the tags.. We've used checkboxes so far though, as our set of tags rarely changes.

More importantly, I'd like for it to be possible to enter new titles / descriptions for books, in the above case, and have them created, while the tags can be selected from the pre-existing set.

I'm definitely going to ta

[2016-05-11 16:56] smpallen99 commented on #109
the has_many macro allows you to create new ones, but does not allow you to select from existing. So, I think we could build on that.

[2016-05-11 17:56] smpallen99 commented on #96
Thanks @romul for a great enhancement!! I've merged it into ecto-1.1 and master.

[2016-05-11 17:56] #96 closed

[2016-05-11 18:01] romul commented on #109
@jwarlander Most likely this will be possible with ex_admin at the next week.
I'm already working on this feature. And it will be something like an input field with autocomplete bellow table with already selected "tags" on the "book" show page.

[2016-05-11 18:26] romul commented on #96
👍

[2016-05-11 18:56] smpallen99 commented on #109
@romul rocks!! 👍

[2016-05-11 22:00] smpallen99 commented on #105
@romul Just started with wiki. Fell free to update 👍

[2016-05-12 06:02] jwarlander commented on #109
Great news! :) Let me know if you need any help w/ testing along the way.

[2016-05-12 14:47] supercodepoet opened #110 "Allow side bars on Pages"
In register_page macro it is missing Module.register_attribute(__MODULE__, :sidebars, accumulate: true, persist: true) so defining a sidebar will not compile.

[2016-05-12 17:43] smpallen99 commented on #89
Started prototyping a refactor of `ExAdmin.Repo`. It will allow support for this as well as a much simplified design. Still not working...

@romul This may have an impact on the stuff your are doing. Can you take a look at my `repo_refactored` branch, specifically the `Repo2` and `Changeset2` modules. I also have some tests in `repo2_test.exs`. I'm going to tackle `has_many , through:` next, then

[2016-05-12 22:02] romul commented on #105
@smpallen99 Awesome!

[2016-05-12 22:04] romul commented on #89
@smpallen99 Ok, I'll take a look at the weekend )

[2016-05-13 15:37] #110 closed

[2016-05-14 06:52] romul opened #112 "panel macro ignores markup_contents if table_for presents"
For example:

[code]

will output only the table.
Expected behavior - output both: the table and the markup.

[2016-05-14 06:53] romul commented on #109
@jwarlander There is a minor subtask that could be delegated if you'd like to participate: https://github.com/smpallen99/ex_admin/issues/112

[2016-05-14 14:06] romul commented on #112
@smpallen99 maybe is there some insight, why so?

[2016-05-14 14:19] romul commented on #112
That's because of `do_panel` implementation: https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/table.ex#L52

[2016-05-14 14:21] jwarlander commented on #112
Yep, figured some recursion could fix that; after processing `:table_for`, remove that key from the map and call `do_panel` with remaining parts.

[2016-05-14 14:22] jwarlander commented on #112
About to do a test on my existing app :)

[2016-05-14 16:12] smpallen99 commented on #112
@jwarlander would be great if u could add a test for this fix. Thanks... Steve

[2016-05-14 16:20] smpallen99 commented on #105
@romul How do you feel about sharing a demo app for these features you are writing. I could put it up on exadmin.info along with the two I have up there right now. Either that, or you add to one of the two demo's i have up there already.

To be honest, I'm very interested in the work your doing with many-to-many relationships. I've been struggling with the repo and changeset refactoring that uses

[2016-05-14 16:25] smpallen99 commented on #112
@jwarlander I would think your recursive approach might work. I'm just wondering what would/should happen if they have more than one table_for or markup_contents. Probably best if we make sure all are rendered, or we raise an appropriate exception.

[2016-05-14 16:28] smpallen99 opened #113 "Improve exceptions"
There are a number of scenarios that raise generic compile and run time exceptions that don't offer any valuable information to help trouble shoot the issue. We should find these scenarios and raise custom exceptions that explain the issue.

[2016-05-14 16:30] smpallen99 commented on #7
This has been fixed.

[2016-05-14 16:30] #7 closed

[2016-05-14 17:26] jwarlander commented on #112
My initial implementation just recurses until no remaining match,
concatenating the results along the way; the default catch-all clause
simply returns the result.

Will definitely add test(s) for it :-)

Right now, though, gotta get dinner ready before our daughter falls asleep
;-)

Den lör 14 maj 2016 18:25Steve Pallen <notifications@github.com> skrev:

[2016-05-14 18:22] romul commented on #112
@smpallen99 I think, the best option would be render all blocks specified inside panel macro regardless of their quantity.

[2016-05-14 18:50] romul commented on #105
@smpallen99 Actually it will be shared at https://github.com/romul/synergy
It will be something like a universal admin panel for e-commerce projects in the future.
Atm it's very fluid b/c work on new features for ex_admin is in progress. But after pulling these features to ex_admin master, there will be no problem in working example.

[2016-05-14 18:56] romul commented on #113
👍
I faced with it during work on toggle buttons and end up with https://github.com/smpallen99/ex_admin/blob/f74493af2e4d51bbaa7a8501c2cb8ccdce044c88/lib/ex_admin/helpers.ex#L156
I propose to put in comments to this issue all errors which are not easy to understand.

[2016-05-14 19:35] romul commented on #112
I've added a quick and dirty fix to don't block associations stuff. But I'd like to end up with proper solution, that handle more than one table_for or markup_contents in any order.

[2016-05-14 19:43] romul commented on #109
@smpallen99
Working prototype is done. Please, review it.
Current syntax:
[code]

And looks like:
![](https://api.monosnap.com/rpc/file/download?id=LaaUnfGaQ8ntRK812P9UlrfeCiXcU4)

I'm not sure about `association_filler` name for this macro.. maybe you have better suggestions.
P.S. I'm thinking about `autocomplete: false` option to be able preload list of all entries. It would be better in case wh

[2016-05-14 19:56] romul commented on #105
@smpallen99 Btw, is there a way to use `actions` macro inside `table_for`?

[2016-05-14 19:56] jwarlander commented on #112
Once I realized the HTML being built was kept in ETS, my recursion approach worked out well -- but the way the schema is passed (as a map, with `:table_for` or `:contents` as the key) doesn't allow multiple instances of each of those, just having one or both of them in either order..

[code]

If it were a keyword-style list instead, it could have multiples, and one could easily process it from beg

[2016-05-14 20:00] romul commented on #93
Note: pagination and `sortable` should be mutually exclusive options until we have no drag&drop between pages.

[2016-05-14 20:01] jwarlander commented on #112
Alternatively, the map key could be a string instead, and have some kind of unique identifier appended.. then you could match it like:

[code]

It's not as elegant, but may be easier to implement depending on how the schema generation is organized (haven't looked yet).

[2016-05-14 20:02] romul commented on #90
more precise link: https://almsaeedstudio.com/themes/AdminLTE/pages/forms/editors.html

[2016-05-14 20:08] romul commented on #112
I like a keyword list approach. This data structure fits perfect for this case.

[2016-05-14 20:49] jwarlander commented on #112
I've got it working with keyword list.. will open a pull request, just going to sync against your latest changes :)

[2016-05-14 20:53] jwarlander commented on #112
Oh, right.. you're on a separate branch; which one should I do a pull request against?

[2016-05-14 20:57] romul commented on #112
@jwarlander Give me a link to your branch. I'll cherry-pick commits from it to my branch and later (if all is ok) @smpallen99 will merge them all to ex_admin main repo.

[2016-05-14 21:07] jwarlander commented on #112
You'll find it here:

https://github.com/jwarlander/ex_admin/tree/handle-multiple-panel-sections

It's just one commit - I haven't written any tests for it yet, as I just got it working. I should be able to get to that tomorrow though, once I figure out a good way to test. I'm hoping there will be some existing tests I can look at for inspiration ;)

[2016-05-14 21:40] romul commented on #112
Great! I like your commit. I'll merge it to my branch tomorrow.

[2016-05-14 22:03] smpallen99 commented on #113
@romul I saw it. That's what inspired me to create the issue 👍

[2016-05-14 22:17] smpallen99 commented on #112
@jwrlander. I think you can add a test or two in controller test. Simply add to one of the resources in `test/support/admin_resources.exs`. Should be pretty straight forward.

[2016-05-15 11:01] jwarlander commented on #112
Done; pushed the test to the branch referred above :)

Parsing test failures when looking at HTML output would be a bit nicer with something like [Floki](https://github.com/philss/floki), where you can pick out a section of the raw HTML and make a nested tuple / list data structure of it; but I'm not sure if it's worth adding a dependency for.

[2016-05-15 13:43] smpallen99 commented on #109
Thanks @romul I'll pull down your branch this evening and try it out. I should have some feedback then. One thing I noticed is that you require to use to specify relationship information that we can probably get from `__schema__/2`. Not 100% sure, but will look at that when I'm testing it.

[2016-05-15 13:52] smpallen99 commented on #112
@jwarlander Looks good. I like your idea of using Floki. I've never used that package before. Would be a good addition. I'll look at on the next test I write that would benefit. Unless someone else beats me to it :).

I'll make sure all your stuff gets pulled in with @romul pull request which i'll be reviewing tonight.

Steve

[2016-05-15 16:14] romul commented on #109
@smpallen99 I've added a separate version of this macro with retrieving some info from `__schema__`, but it's not general: https://github.com/romul/ex_admin/blob/e634877a31800c40293cbf45c0aacfa4db0690d6/lib/ex_admin/show.ex#L271..L283

[2016-05-15 16:16] romul commented on #109
Should to mention: it requires you to define 2 function inside association Ecto model, for example

[code]

[2016-05-15 19:23] romul opened #115 "Provide URL helpers based on Phoenix router"
Provide URL helpers based on Phoenix router instead of `get_route_path` function.

[2016-05-16 16:26] Troush commented on #90
I think (imho), it need to be done as some extension to ex_admin. Not every body need this functionality in core package

[2016-05-16 16:53] smpallen99 commented on #90
Agree that not everyone will want/need this. However, the only real cost would be static resources (css & js). So, we could add an option to the admin install task like `mix admin.install —wysiwyg` that would include the static resources.

The other solution is to look at a ex_admin plugin solution. This would be a better approach, but would be a lot more work.
Steve

[2016-05-17 09:56] loongmxbt opened #117 "Admin Auth implementation, undefined function session_path"
I use Addict for auth, and follow the wiki to implement admin auth.
[code]

But it has error and says
[code]

and I find the phoenix/plug_auth docs/api, can't find something like `Router.Helpers.session_path`.
I checked the contact_demo, can't find a place `session_path` is defined.

I'm really new to Elixir and Phoenix, where did it go wrong? Thanks!

[2016-05-17 13:25] smpallen99 commented on #117
If this is the exact file you are using, can I presume your project is called `MyApp`? If it isn't, then you need to replace the instances of `MyApp` with the name of your project. Secondly, you need to add a route in your project for session so MyApp.Router.Helpers.session_path is created.

You can review this file [router.ex](https://github.com/smpallen99/contact_demo/blob/master/web/router.ex)

[2016-05-17 16:42] smpallen99 commented on #117
@loongmxbt Just to further explain... %MyApp%.Router.Helpers is automatically generated when your `web/router.ex` file is compiled. If you look at `web/web.ex`, you will see that its imported for `controller` and `view`.

[2016-05-18 02:38] loongmxbt commented on #117
Thanks a lot, I understand it! `session` is a resource, and if I define route with SessionController, phoenix magically gives me a `session_path`.

[code]
But in Addict, the session action is defined as modules like `Addict.Interactors.DestroySession` and `Addict.Interactors.CreateSession`

[code]

So it seems a little hard to integrate with Addict, because the call() requires user and schema. ses

[2016-05-18 03:48] smpallen99 commented on #117
I’ll take a look at Addict and see what it will take to get a successful integration….

[2016-05-18 04:40] loongmxbt commented on #117
I've tried passport, which is a typical user auth lib includes session_controller, and find the `current_user` definition

https://github.com/opendrops/passport/blob/608b6f1e7eee00e5a92c38fd6dafaa3d41900fbf/lib/passport/plug.ex

[code]

[code]

In passport, I can use `@current_user.email` in templates, and find something like `Passport.plug.current_user(conn)` but didn't work. Wish help! Thanks a

[2016-05-18 05:11] smpallen99 commented on #117
I just tired Addict. Reported two issues and submitted a PR for one. But I still can't figure out how to use it on a simple project without ExAdmin. I'll look at passport now. I hope I have better luck.

[2016-05-18 05:36] loongmxbt commented on #117
@smpallen99 Awesome! Thanks a lot! The `forget pass` and `reset pass` of Passport seems not implemented right now. But it's more customizable than Addict.

[2016-05-18 05:41] smpallen99 commented on #117
I'm not having luck with Passport either. Not sure how to get protect a page, forcing it to authenticate. But to answer your question above, try this:
[code]

[2016-05-18 06:05] smpallen99 commented on #117
Ok, I kind of have it working. The main issue I have right now is redirecting a user that is not logged in to the login page. It is unclear how this is supposed to be done with Passport. I was able to login, the go to my admin pages. The user name was displayed and I was able to logout. But the redirect after the logout field because I don't have a plug to redirect when you are not logged in.

To

[2016-05-18 06:45] loongmxbt commented on #117
Got that! I need to define `action :destroy`, pretty same as `delete` for ExAdmin for now.

[2016-05-18 13:37] romul commented on #41
Great, it works as expected now.

[2016-05-18 13:37] #41 closed

[2016-05-18 14:01] loongmxbt opened #118 "Support for Array type"
In https://hexdocs.pm/phoenix/Mix.Tasks.Phoenix.Gen.Model.html
There is `mix phoenix.gen.model User users nicknames:array:string`

But support for array:string or array:int seem to have error in ExAdmin admin model create resource.

Here my use case is something like `tags:array:string` or `locations:array:string`.

Is Array the right type use here?

If so, is there any support for something like

[2016-05-18 14:19] smpallen99 commented on #118
We have not added support for the array type yet. To get your nicknames example working, you could use a Nicknames schema with a belongs_to to User.

For the tagging example, Issue #109 is addressing some of what you will need if you use a join table and has_many :through.

The bootstrap plugin looks kewl, I’ll look into it more.

[2016-05-18 15:12] smpallen99 commented on #117
@loongmxbt I appreciate you brining this up as I've only tested with my own version of `Plug.Auth`. At this point, I'm not sure I've fully tested solution with Passport. So, I'm going to leave it open until I'm happy with it and have some documentation.

BTW, do you have your admin pages requiring authentication before they can be accessed? If so, how to you check if the user is logged in and redi

[2016-05-18 17:28] smpallen99 opened #119 "admin.install should prompt before overwriting admin/dashboard.ex file"
Don't overwrite the file if it already exists.

[2016-05-18 18:44] cpursley opened #120 "Suggestion: React instead of jQuery"
Suggestion. Keeping the JS side as functional and maintainable as possible would be nice. It looks like much of this project could be utilized: https://github.com/booleanhunter/ReactJS-AdminLTE

[2016-05-18 19:00] smpallen99 commented on #120
An interesting idea. It would probably not be me doing it. I have no experience with ReactJS and not really any time to learn it. The JS that comes wth AdminLTE seems to be working pretty well for what we need at this point. Perhaps if we find ourselves doing a lot of JS programming then I might be a little more motivated :)

I'm always open to looking at a prototype 👍

Thanks for your suggestion.

[2016-05-18 21:22] romul commented on #118
@smpallen99 We already have https://select2.github.io/examples.html#tags
So I'm not sure that the additional plugin is necessary.

[2016-05-19 01:45] loongmxbt commented on #118
Yeah, I just use `bootstrap-tagsinput` as an example, the plugin by default used in AdminLTE theme is `select2`.
[code]

[2016-05-19 02:11] loongmxbt commented on #117
Sorry for close the issue. Really appreciate you reopen it for more improvements!

Because addict doesn't have session controller, and passport more like a basic `UserController` and `SessionController`, so I switch back to implement my own user auth. Pretty same as `Passport`. But more customizable with ExAdmin.

I now plug `auth_user`

[code]
After when I have roles in my app, I gonna add `auth_

[2016-05-19 02:22] loongmxbt commented on #120
I think in backend ExAdmin does not need to integrate React, it only does some CRUD and displays data. Not really that much interactive components need the correct component lifecycle and one-way flow data(Flux).

In the frontend we can use React+Redux+Webpack to build some SPA using Phoenix API and data sources, keep the app nice, testable and maintainable.

[2016-05-19 02:24] smpallen99 commented on #120
testable and maintainable 👍

[2016-05-19 02:26] loongmxbt commented on #90
Wish to have the ExAdmin plugin functionality and some doc, thus we can write plugins like different wysiwyg editors.

[2016-05-19 02:45] #119 closed

[2016-05-20 16:34] checkraiser opened #121 "Does this work with NoSQL Ecto Driver ?"
Hi.
Does this work with Mongo Ecto driver ?

[2016-05-20 18:50] smpallen99 commented on #121
Never tested, but I suspect not.

[2016-05-20 23:08] smpallen99 opened #122 "Fix ajax support and dynamic controls"
The dynamic controls and ajax support is broken. Need to fix.

[2016-05-20 23:12] smpallen99 opened #123 "Support an after callback on the controller"
I have the need to post process a newly created or updated resource. So, I'm going to add an after callback to the controller.

[2016-05-21 02:02] #123 closed

[2016-05-21 13:34] romul commented on #123
@smpallen99 Oops, these major changes in AdminController make rebase of #115 too complicated.
Could we revert this commit and reapply it after merge of #115?

[2016-05-21 14:28] smpallen99 commented on #123
Roman,

Just made you a contributor. Hope you don’t mind. That way, if I get hit by a bus… :)

Lets continue with the pull request process for normal commits. In this case, you welcome to revert, commit, and reapply.

Steve

[2016-05-21 14:36] smpallen99 opened #125 "Support required fields indication `*` on forms"
Add the `*` indicator on required fields in all forms.

[2016-05-21 14:36] smpallen99 commented on #125
I've started to work on this....

[2016-05-21 18:52] romul commented on #123
Thank you, Steve. I appreciate it :-)
I will reapply `after_filter` changes soon.

[2016-05-21 19:42] romul commented on #122
@smpallen99 What do you mean? Delete-links work well.

[2016-05-21 19:43] #115 closed

[2016-05-21 20:52] #112 closed

[2016-05-21 22:02] smpallen99 commented on #122
This refers to support of ajax inserted fields that that I had support for a long time ago using `ajax: true` and `change: …` attributes.

[2016-05-22 05:24] smpallen99 opened #126 "Error with admin_resource_path for a resource and :index method"
`admin_resource_path(resource, :index)` throws exception.

[2016-05-22 05:39] #126 closed

[2016-05-22 05:46] smpallen99 commented on #125
I screwed up the commit message. Here is the commit for this feature https://github.com/smpallen99/ex_admin/commit/2367ae499de4b83bedfad9cdacc2b5ba60773e74

[2016-05-22 05:46] #125 closed

[2016-05-22 08:51] romul opened #128 "sort_handle_column is not working"
That's because column with fun renders content outside of table like it was in https://github.com/smpallen99/ex_admin/issues/41
[code]

[2016-05-22 09:31] romul commented on #128
Looks like it is Xain related issue, b/c `Xain.i` returns `:ok` instead of content.

[2016-05-22 09:39] romul commented on #128
Well, I found. It was broken by https://github.com/smpallen99/ex_admin/pull/116/commits/cae5749ad19b3a7259976f1df59005a1f1b6768c

[2016-05-22 12:02] smpallen99 commented on #128
Yes, I was a little worried about that change, but seemed like the right thing to do. It was a but that was introduced with the theme support I think. I worked around it by forcing them to something like `row “Name”, &(text &1.full_name)` instead of the documented `row “Name”, &(&1.full_name)`.

Is this casing big issues for you?

[2016-05-22 12:02] smpallen99 commented on #128
Yes, Xain.tag does not return the contents, only the rendered html. I spent a few hours the other day trying to fix that without any success and gave up.

[2016-05-22 12:23] cpursley opened #129 "AdminLTE Actions"
I find the UX of the _actions_ a bit unintuitive in the AdminLET 2 theme. Would it make more sense to move them to the top similar to the original theme? In addition, the title could serve as breadcrumbs:

![exadmindemo - menu](https://cloud.githubusercontent.com/assets/1223773/15453921/238c5372-1ff6-11e6-8085-f4e3f3a9c3a1.png)

[2016-05-22 12:24] cpursley opened #130 "How To Contribute?"
I'd like to contribute to this project but can't seem to find how to use ex_admin as a local Elixir dep. Could someone point me in the right direction or add a _"How To Contribute"_ section to the README?

[2016-05-22 12:25] #120 closed

[2016-05-22 12:26] cpursley commented on #90
👍 for ex_admin plugin solution

[2016-05-22 12:35] cpursley opened #131 "AdminLTE Navbar"
[AdminLTE top-nav](https://almsaeedstudio.com/themes/AdminLTE/pages/layout/top-nav.html) as a configuration option would be handy. Something like:

[code]

[2016-05-22 12:41] cpursley opened #132 "Override attributes_table?"
Is there a way to override an `attributes_table` and reference a PhoenixView similar to a sidebar?

[2016-05-22 15:14] smpallen99 commented on #132
The following should work (have not tested it).

[code]
and just don’t use the `attributes_table` macro.

The page code shares a lot of the show code and the above it taken from the following working example:
https://github.com/smpallen99/ex_admin_demo/blob/master/web/admin/dashboard.ex#L81 <https://github.com/smpallen99/ex_admin_demo/blob/master/web/admin/dashboard.ex#L81>

Let me know if it work

[2016-05-22 15:21] smpallen99 commented on #131
I started doing a top nav template, but decided to focus on the side nav template. This is why the existing template is called AdminLTE2 :).

It should be pretty straight forward to add a new theme with top nav. Just might need to play around with sharing code between the to AdminLTE themes.

Is this something you would like to contribute?

[2016-05-22 16:19] romul commented on #128
@smpallen99 Atm it renders like:
![](https://api.monosnap.com/rpc/file/download?id=uP6gY0tySl72ka6h1bbKMyvXqyHY8N)

I guess, correct solution would be add case clause instead of replacing
[code]

[2016-05-22 16:34] romul commented on #128
@smpallen99 Ignore previous message.. adding clause is not working as well.
I'm going to revert #116 and fix it in other way.

[2016-05-22 16:36] #130 closed

[2016-05-22 17:04] #106 closed

[2016-05-22 17:08] romul commented on #128
Fixed.

[2016-05-22 17:08] #128 closed

[2016-05-22 17:32] smpallen99 opened #133 "Content is not rendered when it includes new lines"
Under some situations, which I have not yet qualified, do not render the contents when it includes new line characters. I have not found out where this is happening and have included several work arounds 👎  to do a `String.replace contents, "\n", ""` to get around the issue. This needs to be fixed.

[2016-05-22 17:36] romul commented on #133
@smpallen99 Could you add some examples?

[2016-05-22 17:50] smpallen99 commented on #133
Sure. if you remove this line https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/table.ex#L86 and then view the dashboard page in [ExAdminDemo](https://github.com/smpallen99/ex_admin_demo), you will see that the last panel does not have any text.

I thought it might be related to `markup :nested do` but tested Xain directly. We are getting the correct text back from Xain as confirmed

[2016-05-22 17:54] smpallen99 commented on #133
I also has the same issue with this code until I added the String.replace at the end.

[code]

[2016-05-22 19:29] romul commented on #133
Hmm, I tried to call `panel` macro and other macros from iex, but they have so many external dependencies.. So I guess macros rendering is another target for decoupling and refactoring :-)

[2016-05-22 19:41] cpursley commented on #130
Thanks!!!

[2016-05-22 19:42] cpursley commented on #131
Thanks. I may take a stab at this. Closing as per new contributor guide.

[2016-05-22 19:42] #131 closed

[2016-05-22 19:50] cpursley commented on #132
Thanks, works perfectly. Would you like me to add instructions for this and sidebars to the wiki?

[2016-05-22 20:34] smpallen99 commented on #133
Controller test on dashboard should do the trick

Sent from my iPhone

[2016-05-22 20:35] smpallen99 commented on #132
Would love that. Thanks!!

Sent from my iPhone

[2016-05-22 20:51] romul commented on #133
@smpallen99 Controller tests in Phoenix belong to integration testing. So, it's not the best choice to test internals.

[2016-05-22 21:02] romul commented on #133
Minimal buggy code:
[code]

[2016-05-22 21:13] romul commented on #133
[code]

[2016-05-22 22:37] romul commented on #29
@smpallen99 I think we should check type of contents inside `build_tag`, convert it to string and put a warning instead of throwing a strange mismatch error from `id_and_class_shortcuts`

[code]

This would help with many weird errors made by ExAdmin newcomers.

[2016-05-25 08:38] romul commented on #133
Fixed in Xain: https://github.com/smpallen99/xain/pull/4/files

[2016-05-25 14:49] #133 closed

[2016-05-25 17:32] tomjoro opened #134 "Relationship with empty (nil) 'name' field throws exception"
If a parent object in a relationship has a 'name' field, then it can't be nil in database, otherwise an exception is raised during rendering.
[code]

If User has a 'name' field then it can't be nil in database. Triggered from line 114 in filter.ex
[code]
In this case name is nil.

[code]

[2016-05-25 21:00] romul commented on #134
@tomjoro Thank you for the detailed report. I've added test for this case. So we will fix it soon )

[2016-05-25 21:13] tomjoro commented on #134
Thanks, ex_admin is a super project. I can take a look at helping fix some of these issues also.

[2016-05-25 21:18] romul commented on #134
@tomjoro I could imagine possible solution, but need more time to check..

[code]

[2016-05-26 02:30] smpallen99 commented on #134
@romul What would happen if we change `Xain. id_and_class_shortcuts` to work with nil? Since its just trying class and id, I don't see an issue allowing it to handle nil. Do you think that would resolve the issue?

[2016-05-26 08:20] romul commented on #134
@smpallen99 I totally argee that nil, integer, boolean, etc. should not raise exception. Take a look at my proposal at https://github.com/smpallen99/ex_admin/issues/29
`id_and_class_shortcuts` is internal function, so it could stay as is. But use of `ensure_valid_contents` could provide much better user experience.

[2016-05-26 12:57] smpallen99 commented on #29
@romul If the cause of the issue is only related to a nil association, then I agree with the suggestion above. If the issue also happens with a nil derived `:name`, then I think that is something that should be rendered as `""` without an warning, since I believe that is a valid run time condition.

[2016-05-26 15:25] romul commented on #29
@smpallen99 This issue appears not in the table with entities, but in select boxes, where you should pick entity by displayed name. So, user should define `display_name` in this case, b/c it's not possible to select a right one by "".

[2016-05-26 16:21] smpallen99 commented on #29
@romul Personally, I think we are trying to do too much here. If I’m writing a template in eex and use the `Phoenix.HTML.Form.collection` function, it renders a blank if I choose the display field that is nil. I really don’t see a difference for ex_admin provided we don’t throw an exception. It should be up to the developer to choose a field that returns a valid “name” field. So, a simple 1 line f

[2016-05-26 19:47] romul commented on #29
@smpallen99 Without any doubt this fix should be Xain.
The question is "how Xain should render non-binary content?"
For example add expected output values to each statement:
[code]

[2016-05-26 20:00] romul commented on #29
The main difference is "explicit vs implicit". When you call `collection` function in template - it's explicit.
When ex_admin generate something based on its defaults - it's implicit. In this case user doesn't even realize that `name` field is used to present resource. So, I guess if `name` field contains non-string values user should get a warning "Hey, we detect that `name` could be nil, maybe y

[2016-05-26 22:49] smpallen99 commented on #29
Ok, I get the implicit vs explicit argument to some extent. However, they have the option to make it explicit using `display_name`. Here is the behaviour I would like to see. If the non-binary value passed can be converted to a string with either to_string or string interpolation, then we should do that. If it can’t then we should raise a reasonable exception. Although I don’t think a log is neces

[2016-05-27 09:03] romul commented on #29
Yeah, but they don't know about it out the box, so this awareness is a purpose of warnings (on :debug level).

Hmm, and what about this test: https://github.com/smpallen99/xain/blob/master/test/xain_test.exs#L225..L232
Should it return `~s(true)`?

I think it's a little bit dizzy. Simple approach could be just concatenate all binary lines and ignore all other types. And in case when content contai

[2016-05-27 10:45] smpallen99 opened #135 "Add support for both Ecto 1.1 and 2.0 in same ExAdmin version"
Allow both versions of Ecto to work.

[2016-05-27 10:46] smpallen99 commented on #135
I have the feature pretty well complete with tests. Just need to add some instructions in read me for configuring deps for each version.

[2016-05-27 11:15] #135 closed

[2016-05-27 12:11] smpallen99 commented on #29
@romul I agree, dizzy. Just played around with the new ast design of Xain and I’m beginning to understand a little better.

* I’m ok with the :debug warning
* I agree, block should just concat binaries
* I do want to add support for non binary tag contents in Xain. For example:
[code]

[2016-05-27 12:20] smpallen99 commented on #135
@romul We should now be able to develop everything on master. I've manually tested this with contacts_demo and it looks like it works fine. Let me know if you see any issues.

[2016-05-27 14:54] romul commented on #29
@smpallen99 Well, we are close to consensus. How about https://github.com/smpallen99/xain/pull/6/files ?

[2016-05-27 15:03] romul commented on #135
@smpallen99 Wow, looks great!
We should patch few lines in resource controller too.
https://github.com/smpallen99/ex_admin/blob/master/web/controllers/admin_resource_controller.ex#L207
https://github.com/smpallen99/ex_admin/blob/master/web/controllers/admin_resource_controller.ex#L226

[2016-05-27 15:10] smpallen99 commented on #135
Yes, I missed them. Will do after I get some lunch.

[2016-05-27 16:09] smpallen99 commented on #135
@romul Fixed. Thanks!

[2016-05-29 09:51] #134 closed

[2016-05-30 08:25] HangingClowns opened #136 "I18n support"
Hi,

I'm looking forward to using this in an upcoming project, but need to support multiple languages. Is there a way to do this out of the box or would it require some work in the code? It seems the community is leaning towards gettext and po files.

[2016-05-30 15:00] smpallen99 commented on #136
I believe it will require a little work. Probably just the Action names, error messages, and the JS messages.

[2016-05-30 15:04] HangingClowns commented on #136
Okay. Let me try and see.
On Mon, May 30, 2016 at 11:00 PM Steve Pallen <notifications@github.com>
wrote:

[2016-05-31 01:12] HangingClowns commented on #136
@smpallen99 can you assign to me?

[2016-05-31 12:36] smpallen99 commented on #136
@HangingClowns I believe I can only assign issues to core contributors. But no problem. I'll make sure now one tries to start it. I look forward to reviewing your pull request.

[2016-05-31 17:48] jonathanperret commented on #81
I wasn't happy with copying and tracking anything from `ex_admin` into my application, so what I did instead was configure an extra `Plug.Static` plug to look for the files in the `ex_admin` application:

[code]

This is in addition to the regular `Plug.Static` that serves static files from my application, of course.

So far `ex_admin` works just fine with this configuration, without copying any f

[2016-05-31 17:54] smpallen99 commented on #81
@jonathanperret Thats for the input. I like the idea. Will look into adding it.

[2016-06-07 14:42] OvermindDL1 commented on #117
For note, if anyone needs an auth solution that does work with ex_admin, ueberauth and guardian work perfectly with ex_admin.

[2016-06-07 14:52] OvermindDL1 opened #138 "Multi-Repo Support"
Any chance for Multi-Repo support (perhaps a drop-down box that selects a repo via something like `/admin/repo` to `/admin/ldaprepo` or so?  I have an Ecto Repo for Postgre, and Ecto Repo for LDAP (as well as direct access via erlang's library so if I had to write it in to ex_admin directly somehow if you have a pluggable area for that, that would work), and I might have to add in a nosql store Re

[2016-06-07 16:06] smpallen99 commented on #138
I’ll have to think about this. Multiple SQL repos should not be too difficult. They could be defined in the resource file. Does LDAP repo work today? I’ve never tried it. Nor have I tried no-sql repos either.

[2016-06-07 16:07] smpallen99 commented on #117
Good to hear!

[2016-06-08 01:22] OvermindDL1 commented on #138
There is an ecto_ldap adapter for ecto 1, I am currently in the process of rewriting it to ecto 2 (with some additional overhauls).  LDAP is exposed very much like a KV store, like mongo or so, however it has better lookup options that is more SQL'ish without the joins and such.

[2016-06-08 11:53] pollingj opened #139 "textarea usage"
There doesn't appear to be a way to get a textarea output.  I can see some code in the `form.ex` where there is a mention of :text however I don't see how that works.  Am I missing something here?  I'm using the latest version of Ecto 2 etc.

[2016-06-09 06:50] sublimecoder commented on #81
@jonathanperret Thanks for that fix! I'd been searching through brunch docs and your solution was the final one that worked.

[2016-06-09 20:05] romul commented on #139
@pollingj Thank you for the report.
Please, try version in the master branch and specify form block like

[code]

[2016-06-09 20:30] romul commented on #132
I've added an example to wiki: https://github.com/smpallen99/ex_admin/wiki/How-to-use-a-custom-template-for-the-dashboard

[2016-06-09 20:30] #132 closed

[2016-06-09 20:46] romul commented on #86
Works for me. Looks like it was fixed.

[2016-06-09 20:46] #86 closed

[2016-06-09 21:16] sublimecoder commented on #19
I attempted to use your config, but I kept getting brunch compiled but did not write the files to the desired destination. I ended up using the solution mentioned here.
https://github.com/smpallen99/ex_admin/issues/81

[2016-06-09 21:26] romul commented on #77
@smpallen99 It's easy to provide config option for this purpose.
And target app should provide some layout like https://github.com/romul/synergy/commit/ae990938667b80345948b6c2766826f5dcef5442

[2016-06-09 21:53] #29 closed

[2016-06-09 21:56] #109 closed

[2016-06-10 12:42] smpallen99 opened #140 "Incorrect inline error for schema with constraint"
User model with unique constraint on email. Submit form with mismatching passwords and the form shows the mismatch password correctly, but also shows nil error on the email field (which is correct).

This issue is caused by code that was added to attempt to show constraint errors as well as other validation errors at the same time. However, this code is not working correctly and needs to be remove

[2016-06-14 17:09] smpallen99 opened #141 "Add support to override index page filter field labels"
I have an Account resource which I've labeled Customer on the menu and actions. I would like to also label this resource in the index page filters with the following syntax:

[code]

[2016-06-15 09:05] romul commented on #141
@smpallen99 Could be there more than one custom label? If so, maybe `labels:` would be better?

[2016-06-15 13:23] smpallen99 commented on #141
good point. I’ll change it.

[2016-06-15 16:41] smpallen99 opened #142 "filter :only, :labels, :except breaks rendering default page"
When a resource is defined without the index macro (default index page) and filter is specified with one of the options, an exception is raised.

[2016-06-16 10:56] HStromfelt opened #143 "Undefined Function Error when trying to add new model with Phoenix 1.1.6"
I have a fresh install of the Phoenix framework. I then followed the installation instructions for ExAdmin. The initial Dashboard page loads perfectly under /admin. However, when adding a new model using
"mix admin.gen.resource Account" I get the following error when trying to run the server:

== Compilation error on file web/admin/account.ex ==
** (UndefinedFunctionError) undefined function Dashb

[2016-06-16 11:07] smpallen99 commented on #143
@HStormfelt. Can you post your DashboardPhoenix.ExAdmin.Account module please. Thanks

[2016-06-16 11:15] HStromfelt commented on #143
Sure:
defmodule DashboardPhoenix.ExAdmin.Account do
  use ExAdmin.Register

  register_resource DashboardPhoenix.Account do

  end
end

On a previous attempt I copied over the body from the dashboard.ex file, but at the moment I have left it untouched.

[2016-06-16 11:32] smpallen99 commented on #143
One more question. What version of ExAdmin?

Sent from my iPhone

[2016-06-16 11:34] HStromfelt commented on #143
Sure, I am using 0.7.6. I included it with {:ex_admin, "~> 0.7"}

Thanks for the help

[2016-06-16 11:44] smpallen99 commented on #143
Doing a quick test. Just a minute

[2016-06-16 11:55] smpallen99 commented on #143
There does appear to be an issue. I got a different error thought. Looking into it now.

[2016-06-16 12:07] smpallen99 commented on #143
@HStromfelt Sorry, my mistake. I generated a resource for the incorrect model. Test project working fine on versions you mention above. So, must be a problem with your project. Can you show me your whole project either on github, or send me a tar file at smpallen99 at yahoo dot com

[2016-06-16 14:08] HStromfelt commented on #143
Sorry for my delayed reply, back now!

Thanks checking it out. I'm using the Cloud 9 IDE and have followed this tutorial to get the set up done: https://medium.com/@Oxyrus/how-to-install-the-phoenix-framework-on-cloud9-ef0ac265229c#.a5o7e3anu so perhaps the problem originates somewhere in there!

I've put the project up on my github now (https://github.com/HStromfelt/Koaloo_elixir). Cheers for tak

[2016-06-16 14:10] smpallen99 opened #144 "Support sort columns for associations on index page"
Currently, association field columns on the index page don't allow sorting. Would like to support these.

[2016-06-16 14:13] smpallen99 opened #145 "Support more then 1 controller before_filter and 1 after_filter"
I would like to have a before_filter for :create and :update, and another for only :update. So, I would like to have define multiple before_filters in the do controller block.

[2016-06-16 16:07] smpallen99 commented on #143
@HStromfelt I don't see where you have programmed your model. If you run the following it should work:
[code]
Then it should work. Let me know...

In the mean time, I'll open an issue to improve the error message for this scenario.
Steve

[2016-06-16 16:13] smpallen99 opened #146 "Improve missing resource modules compile errror"
After running admin.gen.resource and setting that module in the config, we get a compile error if the resource module is not present. The error message should be changed to something like "Cannot find resource module MyProject.Account", for example.

The alternative is to catch this during the mix admin.gen.resource task. Perhaps a waring here would be a good idea.

This issue comes from the discu

[2016-06-16 18:36] OvermindDL1 commented on #118
How is the array type going?  I currently have a `{:array, :map}` type that is the basis of the main schema so need both array and map support.

[2016-06-16 18:45] smpallen99 commented on #118
Its not going yet. Been swamped on a ExAdmin based project that required some new features and refactoring. Can’t commit to when I’ll get a chance to look at this. I might be able to look at it on the weekend or next week.

Steve

[2016-06-16 20:48] smpallen99 opened #147 "Support custom page title"
Add config item `title: "MyTitle"` for the html header title.

[2016-06-17 09:09] HStromfelt commented on #143
@smpallen99 That is great thank you, I should have realised. It did the trick. I am quite new to Elixir and Phoenix so I totally overlooked it. Thanks!

[2016-06-17 11:41] smpallen99 commented on #143
Glad you got it working.

[2016-06-17 11:41] #143 closed

[2016-06-17 22:21] nickarora opened #148 "Undefined Function Error: nil.admin_path/2"
After following the setup instructions, and launching phoenix.server, localhost:4000/admin fails to load.  The following error is displayed:

[code]

Running using:
Phoenix: 1.1.6
Phoenix_ecto: 3.0.0
Ecto: 2.0.0-rc6

For reference --
mix.exs
[code]
router.ex
[code]

config.exs
[code]

endpoint.ex
[code]

Below commands were run before starting the server, with no errors
[code]

[2016-06-17 22:58] nickarora commented on #148
Additional info, I've now added a reference to the SHA directly before [this commit](https://github.com/smpallen99/ex_admin/commit/f1c9a9bbcc1cf1ef149423efc33a7567b40720ef) and everything appears to be working correctly.  I believe a bug was introduced when the admin_path helper was created

[2016-06-18 00:42] smpallen99 commented on #148
@nickarora  Your right. I get the same error. Hope to have it fixed soon.

[2016-06-18 00:57] smpallen99 commented on #148
@nickarora Looks like a compile order issue. Not sure the fix yet, but workaround is to run `mix deps.compile` after you setup ex_admin in our config. There are some module attributes setup based on `Application.get_env :ex_admin, :module` which was not present when ex_admin was compiled.

@romul Do you want to take a look at a fix? Looks like this is the problem area: https://github.com/smpallen9

[2016-06-18 12:35] romul commented on #148
@smpallen99 Sure, I'll take a look tonight.

[2016-06-18 16:49] romul commented on #148
@smpallen99 I think, it's fixed by https://github.com/romul/ex_admin/commit/9c53d74944629f2c54562f4a26a3b91ac983f549

[2016-06-18 19:25] romul commented on #145
@smpallen99 Are you sure that `filters` is the best idea? Usually it results to complicated and tangled code. I would prefer an ability to override entire action if necessary.
Indeed it's already possible thanks to Phoenix router, but it could be improved to avoid actions code duplication.

[2016-06-18 19:59] smpallen99 commented on #145
Its done and I have a product in production using the feature. So, we can deprecate it the future if we find a better solution. With that said, I don’t see much difference between the before filters and plugs. Accept a conn and params, and turn conn and params. Furthermore, if we override complete action, then they are either going to have to duplicate the active admin action, or call it at the en

[2016-06-18 21:32] nickarora commented on #148
@romul In my post above, I note that config.exs includes the requisite addition -- yet I still experience this problem.  See the above for an excerpt from my config.exs

[2016-06-18 21:57] nickarora commented on #148
@romul @smpallen9 I tested this again and fired the deps.get, deps.compile, and admin.install tasks only after all the configuration was completed, and didn't encounter the error.  It looks like it was a compile order issue -- thanks for the help and responsiveness!

[2016-06-19 09:02] romul commented on #148
@nickarora Yeah, now you will get informative compile error in case of such the misconfiguration.

[2016-06-19 09:36] romul commented on #145
Yes, exactly! It's why these actions should be as simple as possible and be composed from helpful functions. My point - it's imminent need for complex cases. Attempts to avoid this complicate the simple cases. Therefore, I propose to think about how to provide the most convenient ability to overload actions.
For example, `create` action could look like:
[code]

[2016-06-21 06:54] loongmxbt opened #150 "How to import csv to restore data?"
In ExAdmin, there is a CSV output, where can I import the CSV to override/insert new data?

[2016-06-21 07:42] loongmxbt opened #151 "One-to-many bug, can't modify field via the dropdown list."
Two models: `Company` and `CompanyType`, reference is `company_type_id`
[code]

and

[code]

[code]

In ExAdmin backend, In `new company`
I can choose from the existing company types(a drop down list), but after creation, the company type field is empty. That is, I cannot modify the company_type through ExAdmin(dropdown list and create), but can modify through Repo.insert.

In `list company`, I ca

[2016-06-21 08:48] loongmxbt commented on #150
The thing is related to how to insert bulk data with differnent format?
e.g. A tab seperate file
[code]
If I use Repo.insert, I need to change every line of data to Struct.
[code]
if there is string,I need to add " " around it.
For now, I use editor's "Colum Edit" to manually edit the file to insert code.
Is there any simple way to do that? Thanks!

[2016-06-21 12:30] smpallen99 commented on #151
Typically this happens if you don’ have the company_type_id listed either the @required_fields or @optional_fields in your model.

[2016-06-21 12:45] loongmxbt commented on #151
Solved, add company_type_id to optional_fields. Thanks!

[2016-06-21 23:02] erikmueller commented on #102
I have the same error on a local test installation

[code]
I think I'm just missing sth or doing something wrong since Im pretty new to the whole eco system.
It happens during a POST request (uploading an image, as the log says)
Anyone any ideas?

Thanks.

[2016-06-22 02:46] smpallen99 commented on #102
@erikmueller can you post your mix.lock file please.

[2016-06-22 08:03] erikmueller commented on #102
sure

[code]

[2016-06-22 17:36] smpallen99 commented on #102
@erikmueller I just tried https://github.com/smpallen99/ex_admin_demo/tree/pre_themed with the same dependency versions you posted above. Works fine. So, I suggest you review that solution and see if you have setup project the same?

If you still can't get it working, I can take a look at your project. If so, please post a link to your source.

Either way, would be great to hear what you find out.

[2016-06-23 21:41] #148 closed

[2016-06-25 02:03] #151 closed

[2016-06-27 13:22] smpallen99 commented on #150
We don't yet have a csv import feature supported in ex_admin. In the past, I have implemented csv import with the `csvlixir` package. You could use the `collection_action` macro in your resource file and then process the file with `CSVLixir.read`.

For your second question, you could so something like
[code]

[2016-06-28 02:30] loongmxbt commented on #150
Thanks a lot!

[2016-06-28 14:49] Moxide opened #152 "Problems with has_many association"
Hello,
I'm using the latest Ecto 2 with the master of ex_admin.
While trying to customize a form to show a has-many relation, I faced some issues.

I have two models :
[code]

I want to be able to choose users in the group edit form (using checkboxes)
So I wrote in web/admin/group.ex :
[code]
But it throws an exception about "MyApp.User.all" being undefined or private.
so I replaced with :
[code]

[2016-06-28 15:12] smpallen99 commented on #152
@Moxide Where is your problem description?

[2016-06-28 15:15] Moxide commented on #152
I'm currently writing it, sorry I pressed return by mistake...

[2016-06-29 15:06] #147 closed

[2016-06-29 15:07] #146 closed

[2016-06-29 15:07] #145 closed

[2016-06-29 15:08] #142 closed

[2016-06-29 15:08] #139 closed

[2016-06-29 15:08] #141 closed

[2016-06-29 15:09] #122 closed

[2016-06-29 15:09] #140 closed

[2016-06-29 15:46] smpallen99 commented on #152
@Moxide I think you may be confusing has_many with many_to_many here. With the has_many relationship you defined in the models above, you can only have one group per user. So, trying to list groups a checkboxes does not make sense here. Radio buttons would make sense but does not really add any value over a select control. ExAdmin does not yet support radio buttons for has_many relationship.

I ju

[2016-06-29 17:00] smpallen99 commented on #152
There is a problem with many to many relationships with the code identified above when properly defining a many to many relationship. The problem can be reproduced with the following:

[code]

[2016-06-29 17:03] #152 closed

[2016-06-29 19:51] Moxide commented on #152
Thank you very much for those insights !
Indeed I was using many_to_many keywords in my models, I guess the last error is due to this fact.

Concerning the hardcoded name, it's fixed by defining 'display_name' in my model. Except when not using checkboxes, but its fixed is the referenced PR ;-)

Thank you very much.

[2016-07-01 01:40] adamkittelson opened #154 "to_string on breadcrumb "name" causes exception with some kinds of data"
Hey thanks for creating this library, just started playing with it today to see if it can replace my hand-rolled super ugly admin interface.

In issue #35 String.to_integer was changed to to_string to prevent UUIDs from raising an exception. I ran into a similar issue this evening where to_string is also not lenient enough.

It looks like, in addition to the id column, breadcrumbs are using the va

[2016-07-01 03:37] smpallen99 commented on #154
With the following fix, you can resolve this issue by creating a display_name/1 function in either your model, or in the resource definition file. See the `test/support/schema.exs` and `test/breadcrumb_test.exs` files for more details. I also added support for models that use a different primary key (not :id).

[2016-07-01 03:37] #154 closed

[2016-07-01 03:39] smpallen99 commented on #154
@adamkittelson Thanks for detailed description of the issue. I hope this fix resolves your issue.

[2016-07-01 04:10] adamkittelson commented on #154
@smpallen99 Perfect thanks, verified that the default behavior no longer crashes and was able to customize it via display_name/1. Thanks for the quick fix!

[2016-07-01 12:22] Moxide opened #155 "Support many_to_many relationships"
Hello, as a feature request, it would be great if ex_admin could support many_to_many relationships, the "Ecto 2 way".
As far as I know, the Ecto 1 way was
[code]
and now it's

[code]

[2016-07-01 19:13] sublimecoder opened #156 "Using phoenix html tag constructors in custom columns requires manual escaping."
Using custom index columns requires you to manually escape the HTML using safe_to_string

[code]
Either the docs should be updated to reflect this or it should be fixed so it automatically calls safe_to_string. Not sure what the correct answer is for this.

[2016-07-03 07:37] loongmxbt commented on #150
[code]

[2016-07-03 07:37] #150 closed

[2016-07-04 08:18] yaBliznyk opened #157 "jQuery(...).best_in_place is not a function"
http://joxi.ru/Dr8o7QXhkbNkoA

I get this error after install exadmin.

Mix deps http://joxi.ru/E2pMxGjuBkKBYA

[2016-07-05 10:37] sdn90 commented on #89
Is this working in master?

I'm getting this error:
[code]

With this code (modified from example in docs):

[code]

[2016-07-05 14:50] smpallen99 commented on #89
@sdn90 I will need to see your models/schemas to look at it. Also, need your ecto version....

[2016-07-05 15:40] OvermindDL1 commented on #156
The Phoenix.HTML library follows the pattern that *all* input passed in is not safe and needs to be made safe unless explicitly marked as such.  That pattern should really be followed here.

[2016-07-05 22:06] sdn90 commented on #89
@smpallen99 Sorry, it was late and forgot to add those.

Using Ecto 2.0

Model
[code]

[2016-07-05 22:52] smpallen99 commented on #89
I believe this only works for has_many through: .. relationships at this time.

[2016-07-06 19:30] dguillot opened #158 "CSV export missing always 1 value"
Click on CSV to download the table in a CSV format. For some reason, every single time, there's always one item missing in the list.

Furthermore, if you have only one, then the CSV is just empty.

[2016-07-06 19:32] dguillot opened #159 "CSV insert_at/updated_at columns"
Downloading the CSV, the items are showing up but there's no time under "insert_at". I'm assuming that's the time that my item was added. After Editing one item, the updated_at column is not populated either.

Anyone see this too?

[2016-07-06 19:33] dguillot commented on #158
Anyone noticed as well that the UI table show me the latest item at top, but the CSV show me the latest added/updated item at the bottom of the list?

[2016-07-06 21:28] #158 closed

[2016-07-06 21:46] romul commented on #89
@smpallen99 I'll take a look at this issue this week.

[2016-07-07 09:25] romul commented on #156
@OvermindDL1  You could use Xain tags in such the cases:
[code]

[2016-07-07 17:03] sublimecoder commented on #156
@OvermindDL1 yes but the docs should reflect this when the examples show just calling Phoenix tags inside the column. So the examples do not work. Which is a problem. I spent 45 mins trying to figure out why nothing would return but a simple string would return fine and the docs did not help, nor did stack overflow. So either the documentation should be updated or this is a bug and it's not workin

[2016-07-07 17:12] alkalinecoffee opened #162 "Remove factorygirl dependency"
It doesn't appear to me that FactoryGirl is being used.  Can it be removed as a dependency?

[2016-07-07 17:58] smpallen99 commented on #156
Agree, the docs need to be updated. I’m working on some updates in ex_admin right now. I’ll review the docs too.

Steve

[2016-07-07 17:58] smpallen99 commented on #162
I’ll take a look at it

[2016-07-08 09:48] matthijsgroen opened #163 "Actions statement not working as intended"
## Reproduction

[code]

## Expected

* Ony able to view or edit the resource in index and show pages

## Actual

* Bulk deletion on index is still available
* Delete option at each record is still available
* Edit action on show page is not available

[2016-07-08 09:57] matthijsgroen opened #164 "Collection_action not working?"
The documented example of 'collection_action' does not add a action button anywhere on the page.

I also have not seen any use of it in the demo app. I don't get errors, but it is not working either.

Also, is there a way to add own bulk actions? As far as I could see there is no option for it, but is it planned?  (would help to bulk enable/disable users for our system)

[2016-07-08 11:34] smpallen99 commented on #163
I did some work in this area last night. action_item was not working. I'll fix the actions this morning. Should see an update later today

[2016-07-08 11:34] smpallen99 commented on #164
Will have an fix for this today too

[2016-07-08 11:35] smpallen99 commented on #159
Will push a fix for this later today. Also, the csv do customization is not working. Will fix it too.

[2016-07-08 12:36] matthijsgroen commented on #164
I could also not find how member_actions are supposed to work. For now I created links with:

admin_resource_path(u) <> "/enable" and implemented the routes myself.

Are there examples for that?

[2016-07-08 17:27] smpallen99 opened #165 "Controller should check for restricted actions"
If the `action_items` is used to restrict some actions, these actions should also be restricted in the controller. Right now, they are only hiding the buttons

[2016-07-08 19:45] #165 closed

[2016-07-08 19:46] smpallen99 commented on #163
Fix pushed. Remember to use `action_items only: [:show]` syntax now.

[2016-07-08 19:47] smpallen99 commented on #163
oops. missed the batch action

[2016-07-08 19:56] #163 closed

[2016-07-08 20:24] smpallen99 commented on #164
After reviewing the current implementation, I missed generating the action links. The current member action is working in that it provides the action. But you have to manually generate the route and the action_item to display the link. Like this:

[code]

I'll work on an update to have the member_action macro create the link automatically.

[2016-07-08 22:24] romul commented on #164
@smpallen99
Should be:
`put "/:resource/:id/unlock", AdminResourceController, :unlock`
and then URL-helper would work:
`ExAdmin.Utils.admin_resource_path(resource, :unlock)`

[2016-07-08 23:08] smpallen99 commented on #164
Full support now for creating the buttons for member and collection_action.

[2016-07-08 23:11] #164 closed

[2016-07-08 23:12] smpallen99 commented on #164
@romul I'll look at your route suggestion

[2016-07-08 23:17] #162 closed

[2016-07-08 23:34] #129 closed

[2016-07-09 05:07] smpallen99 commented on #159
Fixed. Added few other csv related features

[2016-07-09 05:07] #159 closed

[2016-07-09 05:08] #136 closed

[2016-07-09 06:10] smpallen99 commented on #156
Just tested it on master. No need to escape. the following works
[code]

[2016-07-09 06:14] smpallen99 commented on #156
@romul no need for the `markup do` for the xain tag on master.

[2016-07-09 10:13] romul commented on #164
@smpallen99
Smth like `ExAdmin.Utils.admin_resource_path(resource, :member, [action])` should work.
But why not just use Phoenix features? Anyone could add custom actions without introducing `member and collection_action macros`... It's definitely overcomplicated.

[2016-07-09 14:59] smpallen99 commented on #164
@romul Not sure I'm following. Are you suggesting that a route be manually added to their router for each custom action?

The benefit of the member and collection_action macros is that they add the action, the processing, and the action button all from the resource file. No need to touch any other file. Is this the complicated part?

I can't shorten the path by removing the member or collection pa

[2016-07-09 18:09] #117 closed

[2016-07-09 18:11] #51 closed

[2016-07-09 18:27] romul commented on #164
Yes. Explicit is better than implicit.
Gems like resource_controller and inherited_resources were always the source of complicated bugs, b/c these abstractions leak in complicated cases.
I feel like you want to make their clone in Elixir, but I guess it could not be done in Elixir-way.
In Elixir you have only functions, so you don't really need to extend existing controllers to provide extra-actio

[2016-07-09 18:34] romul commented on #164
In other words I don't like an idea to treat ex_admin as magic black box, I'd prefer to see it simple to understanding and highly extensible as regular part of an user's project.

[2016-07-09 19:03] smpallen99 opened #166 "Refactor ExAdmin's magic"
I've had some comments that ExAdmin has too much magic and that would like it to use a more "Phoenix" way of things. i've created this issue to track the discussion/ideas for this refactor.

See issue #164 for some discussion.

[2016-07-09 19:04] smpallen99 commented on #164
@romul Created issue #166 to track discussions like this.

[2016-07-10 22:40] axelclark opened #167 "README: Add !priv/static/themes to .gitignore"
The README says
Add `!priv/static/themes` to .gitignore to Track `priv/static/themes` directory

Should it just be the following?
Add `!priv/static` to .gitignore to track `priv/static` directory

I don't see a `priv/static/themes` directory generated by mix admin.install.  Also, when I deployed to heroku, my css and js was missing.

[2016-07-10 23:24] smpallen99 commented on #167
Looks like the readme needs to be updated. The installer too. The installer adds a couple files to priv/static/css and a couple to priv/static/js as well as some images. I’m not sure about heroku, but I believe if you move the ex_admin files installed by the admin.install to your web/static/vendor path and update your brunch file to install them, it would work. I do have an issue in the backlog to

[2016-07-10 23:53] axelclark commented on #167
It fixed the problem once I removed priv/static from .gitignore, committed those files, and then pushed to heroku.

[2016-07-11 04:17] lain1936 commented on #166
I am a newbie.  Could we write the register marco directly  in  several  resource controller  and  abstract the admin_controller's logic , like  gather the navigation  info,  into some prefilter, short circuit, Plug  just in the visited controller?

[2016-07-11 15:13] smpallen99 opened #169 "index macro fails when following form macro"
Create a resource and in the register resource block, customize the form page followed by a custom index page. Get error like:

[code]

[2016-07-11 15:14] smpallen99 commented on #169
Work around. Create index first, followed by form

[2016-07-12 15:19] alkalinecoffee commented on #117
@OvermindDL1 would you mind posting a gist of your exadmin/guardian setup?

[2016-07-12 15:45] OvermindDL1 commented on #117
I just have the normal guardian plugs injected into the ex_admin plug path, nothing really special.

I also have my own permission system which is also injected into the plug path to do some more fine-grained tests.  You can do pretty much whatever you want with your own plug.

[2016-07-13 15:42] erikmueller commented on #102
Now I refactored some stuff, switched machines and the error is gone. Sorry that I cannot provide any inside what may have caused it. And after stumbling upon https://github.com/stavro/arc/issues/59 I finally have ExAdmin and Arc working.

[2016-07-13 18:21] smpallen99 commented on #102
@erikmueller Glad you got it working 👍

[2016-07-13 18:21] #102 closed

[2016-07-13 19:31] smpallen99 commented on #167
@axelclark It is not recommended practice to check in priv/static when you are using brunch to build your static files. I know this solved your problem, but a better solution is to move the ex_admin generated static files to your web/static/vendor directory and update your brunch-config.js file to build them along with the rest of your static files.

I already have issue #81 to install the ex_admi

[2016-07-13 19:59] smpallen99 opened #172 "Issue with Please setup ex_admin in your config/config.exs run time error."
I have two issues with this. First, project does not compile after adding ex_admin dependency until you manually add the config. However, the installer is where these instructions are printed, so the order is backwards.

Secondly, the error says `MyProject.Repo` ... If we do keep the error, the instructions should be updated to print the correct project module name.

[2016-07-13 21:25] smpallen99 commented on #172
In the check for Application.get_env :ex_admin, :module, I now define endpoint and router functions that build the values at run time. As well, I issue a warning to recompile ex_admin after running the installer.

[2016-07-13 21:25] #172 closed

[2016-07-13 21:27] smpallen99 opened #173 "update the installer instructions do the indentation is correct for copy and paste"
I annoys me that the indentation is not right. fix it.

[2016-07-13 21:32] erikmueller opened #174 "Configure <scripts> to be loaded"
I don't know if I'm maybe missing something but I read through the docs and the wiki (and also scanned the source) but I could not find a way to tell exadmin to not include (or `require`) the `js/app.js`. Since I don't need an additional `app.js` I'd like to not include it (and maybe also bundle some deps like jquery+ui into a unified bundle, but that's minor).

Specifically I'm speaking about lin

[2016-07-13 21:40] #173 closed

[2016-07-13 21:43] smpallen99 commented on #174
I'm not sure the app.js stuff is needed. it can probably be removed. Your welcome to submit a pull request ;)

[2016-07-14 08:18] erikmueller commented on #174
I'd gladly try :)

[2016-07-14 20:39] smpallen99 commented on #167
Admin now supports (by default) installing the admin assets into web/static and appends instructions to your brunch-config.js file. This is recommended over installing to priv/static and checking  this path into git.

[2016-07-20 11:38] sobolevn opened #178 "heroku installation error"
When trying to run `mix admin.install` on heroku this error shows up:

[code]

It does not really mater how to run it:
1. Via `heroku run ...`
2. Via `buildback`'s `compile` (as shown in error)
3. Via `heroku run bash` and manually trying to get it to work

What did I miss?

[2016-07-20 12:24] loongmxbt opened #179 "Add ExAdmin specific js and css"
[code]

Now what I want to do is apply js/simditor.min.js to ex_admin layout. But doing this I need to modify the admin_lte2.html.eex, which is not maintainable.

[code]

And I don't want it goes into the whole app's `app.js` and `app.css` because I only what it in ExAdmin backend.

If there is something in the template like the follows, I can join my custom ExAdmin specific js and css:
[code]

Or

[2016-07-20 12:47] erikmueller commented on #179
In https://hexdocs.pm/ex_admin/ExAdmin.html there's a section for __Adding Custom CSS or JS to the Layout Head__

in short
create an `AdminView` and a `admin_layout.html.eex` and put the things you would add into the layout there. Then configure the head template. Remember to use `<script async ...></script>` to defer loading

[code]

hope this helps

[2016-07-20 13:49] loongmxbt commented on #179
@erikmueller It works fine! Thanks a lot!
For some Javascript before </body> (after all html elements loaded),  we can use `window.onload=function(){ }` or `$(document).ready(function(){ xxx })` .

[2016-07-20 13:49] #179 closed

[2016-07-20 15:07] dguillot opened #180 "Deletion does not prompt message when not working"
If I have two objects that are dependent to each other like the following example:

--> I can create a "Post" based on "Comment". When I try to delete an "Post", nothing happen. It does not fail gracefully because there's a "Comment" tied to it.

--> When I use the batch deletion to delete all "Posts", I get a constraint error when attempting to delete struct. If I refresh the page, they're all go

[2016-07-20 18:34] hisea commented on #180
This is caused by the struct being deleted has a non-null foreign_key.

The ecto error is:

[code]

I think the issue is the deletion is done by deleting the model struct instead of a changeset. so even though I added a constrain, it will not trigger the error message.

[2016-07-20 19:52] smpallen99 commented on #180
Please provide link to your project or create a gist with your models and admin resource files. Thanks

[2016-07-20 21:04] hisea commented on #180
Thanks @smpallen99 for the quick response.

Here's a demo app shows this issue.

https://github.com/hisea/ex_admin_blog

You can reproduce this issue by creating a post, then create a comment against this post.

Then try to delete the post. both batch and single delete fails.

[2016-07-21 00:05] smpallen99 commented on #180
@hisea  I've had this same issue before. The quick solution is to change your comment migration from `on_delete: :nothing` to `on_delete: :delete_all`. This will delete the dependent comments when you delete the post.

If this is not acceptable, then please justify. If this is important to you, then please explain how you would implement this with a standard phoenix solution (without ExAdmin).

[2016-07-21 01:55] smpallen99 commented on #178
I'm sorry, but I don't have very much experience with heroku. But it looks like your trying to run mix admin.install on heroku?

[2016-07-21 03:06] hisea commented on #180
Our particular requirement specifies that if a model has a child the deletion should be prohibited. I.e if a ticket is sold to a user, the admin should not be able to delete the ticket. if using `:delete_all`, an accidental deletion of the ticket will delete the completed order.  something like this.

I guess I could do an conditional check to hide the delete action if association exists.

I did s

[2016-07-21 03:36] smpallen99 commented on #180
I'm not yet sure about the ExAdmin solution, but there is a way to add this to a project. You can create a controller in your project that handles the destroy action and add a route for it. Just make sure the route is above the admin_routes and make sure it matches `destroy` since that is the action that ex_admin uses.

I need to give it some thought on how we integrate a general solution in ExAdm

[2016-07-21 08:50] sobolevn commented on #178
Yes, I am running this command when deploying.  Here's my workflow:

1. `priv/static` is ignored
2. When deploying I run `brunch build --production && phoenix digest` via [heroku-buildpack-phoenix-static](https://github.com/elixir-lang-moscow/heroku-buildpack-phoenix-static)
3. Next step I was trying to run `mix admin.install --no-config --no-route --no-dashboard` Since I don't want to concat admi

[2016-07-21 09:17] erikmueller commented on #178
What about running `mix admin.install` locally, copying ex_admin's asset into your `web/assets` under `vendor` or `ex_admin` (and version them - that's what I do) and the let the build step simply copy them to `priv/static` (I'm also doing this with the buildpack-phoenix-static)

[2016-07-21 13:13] smpallen99 commented on #178
I committed a change into master last week. admin.install now installs the assets into `web/static` and updates your `brunch-config.js` file with instructions. on how to update it. This should resolve your issue.

[2016-07-21 13:52] hisea commented on #180
One Idea i had is to treat changeset function like how preload works now.
To set up a list of changeset functions for individual actions.
I.e in the resource file.

[code]

or something similar.

[2016-07-22 04:45] smpallen99 commented on #180
I've been playing around with this a little. Here is a simple example of how to do this with a standard project (no ex_admin).

in the model:

[code]

in the controller:

[code]

So, if I change the logic in the ex_admin controller delete action to something like the above it should be enough.

@hisea what do you think?

[2016-07-22 20:34] hisea commented on #180
I think the concern would be around `Post.changeset`.

My understanding is different changeset is needed in this particular situation.

i.e `no_assoc_constraint` in should be added to the deletion changeset. this makes sure that there's no specified association before delete, but this constraint cannot really apply to creation.

[2016-07-22 20:45] smpallen99 commented on #180
I have this working in one of my test projects. It does not seem to be an issue for updates and creates.

If you don’t like that, you can always check the action in the changesset and only do the `no_assoc_constraint` for :delete.

You don’t need  a separate changeset.

[2016-07-22 20:46] hisea commented on #180
cool, Im good with this

[2016-07-23 15:28] sobolevn opened #181 "A lot of warnings like 'warning: the variable "var_name" is unsafe as it has been set inside a case/cond/receive/if/&&/||.'"
After upgrading to `elixir 1.3` I have faced a lot of warnings! Here are the ones coming from `ex_admin`:

Here's my `mix.lock` information:

`"ex_admin": {:hex, :ex_admin, "0.7.6", "8ea0b7d21a073bd901edf37a10808a0c504d9bd952e41b19cb78a896ab253c00", [:mix], [{:xain, "~> 0.5.3", [hex: :xain, optional: false]}, {:scrivener, "~> 1.0", [hex: :scrivener, optional: false]}, {:phoenix_html, "~> 2.5", [he

[2016-07-23 15:47] smpallen99 commented on #181
Most of this stuff has been fixed on my github master branch. I have been waiting to push a new hex release until I get more of the new ecto2 stuff finished.

[2016-07-23 15:53] sobolevn opened #182 "bad request to ExAdmin.AdminController.batch_action, no matching action clause to process request"
When trying to click on this combobox:
<img width="127" alt="2016-07-23 18 50 13" src="https://cloud.githubusercontent.com/assets/4660275/17078830/61536c18-5106-11e6-9eff-57782cba33c4.png">

The error happens:
<img width="1280" alt="2016-07-23 18 49 28" src="https://cloud.githubusercontent.com/assets/4660275/17078831/672ba542-5106-11e6-88c0-8db3e3ed178c.png">

To make things clear: I have not done

[2016-07-23 15:59] smpallen99 commented on #182
what version of ex_admin?

[2016-07-23 16:05] sobolevn commented on #182
Oh, sorry. The same as the last issue:

[2016-07-23 20:41] sobolevn opened #183 "Custom Ecto field issues"
I have created a simple slug field for Ecto: https://github.com/sobolevn/ecto_autoslug_field
Here's it's [`Type` definition](https://github.com/sobolevn/ecto_autoslug_field/blob/master/lib/ecto_autoslug_field/type.ex).

After adding it to the project it looks something like this:

[code]

But `ex_admin` now treats this field as a `<input type="file" />`:
<img width="687" alt="2016-07-23 23 36 55"

[2016-07-30 08:15] loongmxbt commented on #90
Here is a way to use wysiwyg, using exadmin custom css and js. Simditor as the wysiwyg editor.
http://www.jianshu.com/p/0d4971a7b7e3

[2016-07-30 14:43] smpallen99 commented on #183
Try adding a defimpl for it somewhere in your project. See https://github.com/smpallen99/ex_admin/blob/5c1bf64f19767f709b8608e3e2fe81e8e420945d/lib/ex_admin/render.ex for currently defined implementations. I'm not 100% sure this will do everything. Let me know how it goes and we can discuss further from there.

[2016-07-30 14:44] smpallen99 commented on #182
Have you tried this with master?

[2016-08-01 12:08] aeons opened #186 "Selectively disable actions per item"
Hey,

I'm wondering if it's possible to remove the buttons for actions for a member based on some condition.

I'm using the authorization example to disallow actually performing the action, but I cannot find a way to hide the option in the UI.

Any suggestions? If not, then consider this a feature request :)

👍

[2016-08-01 15:33] smpallen99 commented on #186
This should already work if you have implemented the ExAdmin.Authorization protocol correctly. If your running from Hex, I suggest you try github master. The version on hex is pretty old. It is working on the project I used for the authorization example, based on master.

There is an option to defined which action_links are shown for a given model. However, it does not support conditionals. So, if

[2016-08-01 15:35] smpallen99 commented on #178
@sobolevn I believe this should be resolved with the support for brunch assets. I have not heard back from you so I'm assuming this resolved your issue. Closing the issue. Please reopen if the brunch assets does not resolve your issue.

[2016-08-01 15:35] #178 closed

[2016-08-01 15:38] aeons commented on #186
The idea is that I want everyone to be able to see the index for a resource, but only be able to edit/delete "their own" items. As far as I can see, the `authorize_action/3` function doesn't know anything about the current item being rendered.

[2016-08-01 15:48] smpallen99 commented on #186
You should implement the protocol for each of your admin resources. You can then pull out the current user and authorize actions based on it. Please review the example in in the [Add authorization section in the wiki](https://github.com/smpallen99/ex_admin/wiki/Add-authorization).

If you want further help, please post your authorization file.

Steve

[2016-08-01 15:55] aeons commented on #186
My authorization file is almost the exact same as the example.

The query bit works as expected, you are not able to edit other users than your own.

However, the `:index` resource still renders `Edit` buttons for all other users, which leads to an error if clicked.

What I would like to do is access the id of the resource in the `authorize_action` function. I get that that is not possible for a `

[2016-08-01 16:48] smpallen99 commented on #186
Here is one possible implementation. You can play around with this to create a more generic solution.

[code]

[2016-08-01 16:49] aeons commented on #186
Aha, thanks, will give it a go.

[2016-08-01 16:49] smpallen99 commented on #186
The trick above is that you can pull the current resource from `conn.assigns[:resource]`.

[2016-08-01 17:11] aeons commented on #186
I get a step further, and the idea seems to work, however the resource struct I get from `conn.assigns` is all `nil`s.

Any suggestions?

[2016-08-01 17:19] smpallen99 commented on #186
Need to step out for the afternoon so this will be my last response until later this evening. I believe the issue is with trying to show an index page for a non-admin user. In my projects I don't usually allow this Since, IMHO it does not make sense.

I would disable index for non-admin users, and allow non-admin users to view and update their profile through the profile link in the top right nav

[2016-08-02 10:16] aeons commented on #186
I get that this is a special case for user management, but I can still see this being useful if you have some other resource where you can see all items but only modify "your own".

Anyway, I can live with everyone having access for this case.

[2016-08-02 12:33] iammac360 opened #187 "Issue with has_many nested form"
I'm attempting to put a nested form on one of my resource, but every time I go to that page it always throws an error.

[code]
<img width="1920" alt="skitch 3" src="https://cloud.githubusercontent.com/assets/786083/17328386/f70d7c76-58ef-11e6-8135-1a7207c990ea.png">

heres the snippet of my codes:

the admin resource:

[code]

models:

[code]

[code]

I'm still new to elixir/phoenix and any help w

[2016-08-02 13:01] smpallen99 commented on #186
I see your point. I'll take a look at it, but might not be until next week.

[2016-08-02 14:34] aeons commented on #186
Thanks :)

[2016-08-05 08:16] aeons commented on #181
There's still one left at
[code]

[2016-08-07 13:29] wojtekmach commented on #138
+1 for multi-repo support. I'm currently experimenting with building an umbrella project with 2 SQL Repos (each in a separate OTP app) and being able to manage both from ExAdmin would be a nice addition.

[2016-08-07 16:35] yeelone opened #189 "custom password field issues"
I have created a field for user auth : password_hash ,
`
  schema "users" do
    field :name, :string
    field :username, :string
    field :password, :string, virtual: true
    field :password_hash, :string

 defp put_pass_hash(changeset) do
      case changeset do
        %Ecto.Changeset{valid?: true, changes: %{password: pass}} ->
          put_change(changeset, :password_hash, Comeonin.Bcrypt

[2016-08-07 17:37] smpallen99 commented on #189
You do all that from your changeset. Nothing to do in ExAdmin. You can look at [ContactDemo](https://github.com/smpallen99/contact_demo) and checkout a commit before I integrated Coherence, you should see how to do it.

[2016-08-07 17:37] #189 closed

[2016-08-09 17:15] andrewcottage opened #190 "no function clause matching in ExAdmin.AdminLte2.LayoutView.build_menu_icon/1"
When trying to add a link to the actions menu I use this code:
[code]

I get an error like this:

[code]

[2016-08-09 18:52] smpallen99 commented on #190
Please try it on master using the documented approach:

[code]

[2016-08-09 19:38] wojtekmach opened #191 "Support resources with the same module name but within different namespace"
In my app I have Bank.Account & Auth.Account schemas. I'm registering them in ExAdmin but both end up with the the same url: `/accounts/:id` and so in effect just the one defined later can be managed. I tried setting `:controller_route` but it didn't help.

I created a workaround in my fork (https://github.com/wojtekmach/ex_admin/commit/5912810cfd048df6cf483ffeccf4c05355a2cb5e) and this works like

[2016-08-09 20:00] andrewcottage commented on #190
That did the trick.

Thank you!

[2016-08-09 20:00] #190 closed

[2016-08-10 08:44] sobolevn commented on #183
Nope, that did not work. It is not even called.

[code]

[2016-08-10 09:33] sobolevn commented on #178
Sorry for the long response: just didn't have the time to work on this project lately.

@erikmueller this will work, no doubts. I think I will use it as a workaround.

@smpallen99 That's a good job! But actually I don't like the idea of modifying `brunch.js` since it may break things unintentionally. Furthermore, projects can use `gulp`, `webpack` or any other tool.

Maybe it would be a better ide

[2016-08-10 12:53] smpallen99 commented on #183
@sobolevn try

[code]

[2016-08-10 14:45] sobolevn commented on #183
Did not help, not called.

[2016-08-11 12:17] sobolevn commented on #178
That's how `phoenix` itself manages to solve the same problem:

`package.json`:

[code]

[2016-08-11 14:41] andrewcottage opened #192 "When Adding scope to resource it no longer populates any data"
When adding

[code]

![screenshot from 2016-08-11 10 20 56](https://cloud.githubusercontent.com/assets/4549986/17591714/50a3e298-5fad-11e6-946f-d8136b7f82ac.png)

and when I remove it
[code]
It populates again

![screenshot from 2016-08-11 10 32 22](https://cloud.githubusercontent.com/assets/4549986/17592382/19ee9240-5fb0-11e6-8de0-bf3f2d650ea9.png)

I'm on the Master branch

[2016-08-11 15:04] smpallen99 commented on #192
I just tested a project with current master and its working fine. I suspect you have an issue with the queries. I suggest you try some of the following:

* add a default all scope `scope :all, default: true` and see if that returns all the records.
* Try `where(q, [f], f.verified == true)` for your verified scope
* Try logging the the query returned by the scope block and then run the query manual

[2016-08-11 19:58] overallduka opened #193 "Cannot find module "deps/phoenix_html/web/static/js/phoenix_html" from "web/static/js/app""
Im installing ExAdmin but when i change brunch-config.js file all my app is broken because this error in console:

`Cannot find module "deps/phoenix_html/web/static/js/phoenix_html" from "web/static/js/app"`

I could see that when i run `brunch build` i receive this warnings:

[code]

[2016-08-11 20:15] overallduka commented on #193
[code]

[2016-08-11 20:28] smpallen99 commented on #193
I'm not sure why your getting the error. Might be in the watched paths. Here is working brunch-config.js file from one of my projects.
[code]

[2016-08-12 11:41] jaimeiniesta opened #194 "Can't log in at the Additional Live Demo"
The credentials shown on http://demo2.exadmin.info/ don't work.

[2016-08-12 13:03] smpallen99 commented on #194
I just reseeded the database and its working fine. Thanks for letting me know.

[2016-08-12 13:03] #194 closed

[2016-08-12 16:48] gwincr11 commented on #49
@smpallen99 I think I can try picking away at this one. Any advice on where to start?

[2016-08-12 17:24] smpallen99 commented on #49
Great! Just look at the integer fields since they already support >, == < options.

[2016-08-12 18:14] andrewcottage commented on #192
Not sure why but when I added `scope :all, default: true` it started working.

[2016-08-12 18:14] #192 closed

[2016-08-15 18:30] andrewcottage opened #196 "Scoping CSV Export to current Filter"
I'm tying to scope the csv export action to the currently selected filter options.

Is there a built in way to do this?

[2016-08-15 19:21] smpallen99 commented on #196
I don't believe we have support for that. I believe scopes are supported for :csv, but not filters.

[2016-08-18 13:56] sobolevn opened #197 "embed model issue"
Working with the latest `hex` release:

[code]

And the default admin form, results in:

[2016-08-18 20:15] smpallen99 commented on #197
We don’t yet support embedded_schema.

[2016-08-18 21:07] stavro opened #198 "Aggressive coercion of strings to integers"
All text fields are converted to integers if they contain only numbers (https://github.com/smpallen99/ex_admin/blob/a459a1af602b9992b33150a8f5ab6f9596fbc544/lib/ex_admin/params_to_atoms.ex#L42-L45).

However, this isn't always desirable.  Fields of type `:string` fail to save if someone types in just numbers.

[2016-08-19 01:09] smpallen99 commented on #198
Agree

[2016-08-19 02:54] loongmxbt opened #199 "How to use ExAdmin.Show with Exfile ?"
I've checked the docs https://hexdocs.pm/exfile/Exfile.Phoenix.Helpers.html#content
and https://hexdocs.pm/ex_admin/ExAdmin.Show.html but cannot do this right.

In doc, there is
[code]
Is `:image` just the row name, and `:thumb` from the ecto field?
Whats the param passed to &1 here?
How does `[image: true, height: 100]` deal with `ExAdminDemo.Image.url`?

[code]
file is `Exfile.Ecto.File` and can

[2016-08-19 16:22] smpallen99 opened #200 "Support pages other than dashboard"
Currently, the only page supported it dashboard. I would like to support other pages. For example:

[code]

[2016-08-19 18:06] #200 closed

[2016-08-20 04:27] ntsai opened #201 "Label cant' not use chinese"
defmodule Im.ExAdmin.User do
  use ExAdmin.Register

  register_resource Im.User do
    index do
      column :num, label: "测试的"
    end
  end
end

[2016-08-20 12:10] smpallen99 commented on #201
Pull request welcome :)

[2016-08-20 18:40] santif opened #202 ""Internal server error" when using ex_admin resources in a release built by exrm"
After build a release with exrm, I get "Internal server error" when I try to access to `/admin` pages (UndefinedError due to ex_admin dependencies not included in the release by exrm).
I'm not sure if this issue is related to ex_admin or exrm.

Workaround is to add the following startup applications to mix.exs:

[code]

If this is the way to go, please consider add the instructions to README.md...

[2016-08-23 03:56] #49 closed

[2016-08-23 15:25] smpallen99 opened #203 "Column sorting doesn't keep current scope"
Apply a scope, then click a sortable column heading. Expect that scope to be preserved, but id does not.

[2016-08-23 19:45] #196 closed

[2016-08-23 20:08] smpallen99 opened #204 "Scopes don't preserve column sorting or filter settings"

[2016-08-23 20:14] #203 closed

[2016-08-23 21:03] #204 closed

[2016-08-23 21:10] smpallen99 opened #205 "Scopes should only be displayed in one area on admin_lte2 theme"
Scopes should be removed from the top of the index page.

[2016-08-23 21:11] #205 closed

[2016-08-23 21:17] smpallen99 opened #206 "Add Scopes heading on admin_lte2 theme."
Add Scopes heading if there are any scopes.

[2016-08-23 21:17] #206 closed

[2016-08-24 10:40] smpallen99 opened #207 "Scope counts should only count filtered records"
Scope counts currently show the total counts, not the filtered values.

[2016-08-25 05:08] #207 closed

[2016-08-25 05:19] smpallen99 commented on #199
@loongmxbt I have not used ex_file, so I can't give you a specific answer. In the example above, the `:image` parameter is only used for the label since you are providing a fun to fetch the field. The `&1` will be the model. However, the `ExAdminDemo.Image.url({&1.image, &1}, :thumb)` from the example is using the Arc API. So, you will need to replace that with the API for exfile. If the field in

[2016-08-25 05:22] smpallen99 commented on #198
This might be a fairly large effort to fix. However, as a work around, you could convert them back into strings in your model's changeset function.

[2016-08-25 05:23] #193 closed

[2016-08-29 08:02] ntsai commented on #201
:) yes i do

[2016-09-03 06:31] rrevanth opened #209 "Coherence user belongs relation not working"
I am using coherence for authorization and I created a model say board that belongs to a user by

mix phoenix.gen.model Board boards user_id:references:users name:string

but the form is not taking the user input in and passing null value for it in ex admin

[2016-09-03 16:39] #209 closed

[2016-09-04 17:16] karmajunkie commented on #166
I'm not sure if this is already possible, but one of my biggest complaints about activeadmin from the Rails ecosystem is its dependency on ActiveRecord magic, to the point that its turned me off from even wanting to try a work-alike in the vein of ExAdmin, useful though they may be. For example, its is nigh on impossible to use an array of hashes or even ActiveModel objects with ActiveAdmin in the

[2016-09-06 19:16] migore commented on #155
I would benefit from this feature as well!

Is there any temporary trick to work with many_to_many?

I tried to add an input
[code]
but it raises an error when I try to save.

[2016-09-06 19:29] Moxide commented on #155
Hello,
It seems that [someone worked on this feature...](https://github.com/fearenales/ex_admin)
Haven't tested it though ;-)

[2016-09-07 14:45] migore commented on #155
@Moxide Thanks, will try it!

[2016-09-08 17:29] sstern6 commented on #99
@smpallen99 might consider updating the docs.  It seems like the only way I can render admin_layout is if I name it `admin_layout.html.eex`, the docs specify `admin_layout.html`.  Not sure if it was something on my end or a new version of phoenix but thought I would mention this.

Thanks

[2016-09-12 02:16] davidqhr commented on #202
+1

The log output:

[code]

[2016-09-12 04:01] davidqhr commented on #202
@santif, I think this will only happen when you use exrm.

Instead of updating the README.md, I think the four missing applications that ex_admin depended should add into the mix.exs applications/1;

[code]

[2016-09-17 23:15] axelclark opened #212 "Missing comma in generated brunch-config.js code"
The ExAdmin generated `brunch-config.js` code is:

[code]

The generated Phoenix code is

[code]

Recommend updating the ExAdmin code to:

[code]

Without the comma, I missed the need to delete the `},` at the bottom of the Phoenix generated code which caused my brunch build to fail with `error:  Failed to load brunch config - Unexpected token :`.

It wasn't hard to track down, but it will probabl

[2016-09-18 10:54] Moxide commented on #155
I had to add a [small fix]( https://github.com/Moxide/ex_admin/commit/f30158233fd9c474013e4641b186e8cd8a705bab) to fearenales's code to make it work for me.
It seems to work pretty well, could anyone take a look at it and merge this feature to main repo ?
Thanks ;-)

[2016-09-20 15:53] renews opened #213 ""Internal server error" ARC Image Upload"
I dont know what changes you made, but now we cant get uploads to work  anymore, even on your own demos it returns a internal server erro... Example of the error as follow

`** (exit) an exception was raised:
    ** (FunctionClauseError) no function clause matching in Arc.File.new/1
        lib/arc/file.ex:5: Arc.File.new(%{"__struct__" => Plug.Upload, "content_type" => "image/jpeg", "filename" =>

[2016-09-20 20:18] renews commented on #213
Did not mean to sound harsh or anything, im sorry if i did.

[2016-09-23 13:46] nicholasjhenry commented on #213
@smpallen99 I've tracked the issue down to this commit:

https://github.com/smpallen99/ex_admin/commit/5c1bf64f19767f709b8608e3e2fe81e8e420945d

Arc is pattern matching on a Plug struct (i.e. atoms with keys) but `param_stringify_keys/1` is converting the Plug struct to a map where the keys are now strings.

[2016-09-23 13:52] nicholasjhenry commented on #213
Sorry @smpallen99 I missed this PR #184 for the fix.

[2016-09-24 21:16] sobolevn opened #214 "Issue when editing several models"
I have faced an issue, when trying to edit some of the models.

Here's the trace:

Here's the model code: https://github.com/elixir-lang-moscow/site/blob/master/web/models/event_speaker.ex
Here's the admin code: https://github.com/elixir-lang-moscow/site/blob/master/web/admin/event_speaker.ex

I previously also had issues with the custom `ecto`-types which I am using for slug fields. So when I tri

[2016-09-25 09:53] loongmxbt commented on #199
Thanks!
[code]

[2016-09-25 09:53] #199 closed

[2016-09-25 10:19] romul commented on #183
@sobolevn  Now you could specify matching rules in the config:
[code]

[2016-09-25 10:37] romul commented on #87
@smpallen99 Has this one already been fixed? I can't reproduce with Safari under iPhone simulator.

[2016-09-25 10:45] romul commented on #213
Fix merged: https://github.com/smpallen99/ex_admin/commit/ae45f042082f5d1f9b80474ef27beff2a43b568e

[2016-09-25 10:45] #213 closed

[2016-09-25 10:51] romul commented on #214
@sobolevn Could you reproduce it after https://github.com/smpallen99/ex_admin/commit/2465fc4977a8a29b5de357f5652f3214628f7699?

[2016-09-26 11:54] sobolevn opened #216 "Publishing static assets as `npm` package"
I have a suggestion on how to deal with the static files.

Current solution works fine, but there are several cons about it:
- one can use `webpack` or `gulp`, etc... to handle assets
- one can use complex `brunch` config already, generated code can break things up
- it is not obvious, I don't know any package which handles it's assets like that

So, when working with `phoenix` let's have a look a

[2016-10-01 18:19] ajibarra opened #217 "Issue rendering templates HTML"
Hello, I followed config steps but at the end it looks the actual views are not being rendered but just shows the HTML.

![screenshot 2016-10-01 13 17 04](https://cloud.githubusercontent.com/assets/794722/19016221/8fe2a6ca-87d9-11e6-8434-e4b79ab41bdc.png)

Probably is an noob issue and you can point me in the right direction.

Thank you!

[2016-10-03 10:16] rakr opened #218 "Question: Can someone tell me what I'm not doing correctly?"
[My ExAdminSample](https://github.com/rakr/ExAdminSample)

This is a bare Phoenix app,I think I have followed the instructions to have ExAdmin working properly, but the page that I see is without style.

Thanks in advance

<img width="1071" alt="exadminsample" src="https://cloud.githubusercontent.com/assets/110558/19034391/dfbf3fba-89ae-11e6-9b0a-27c6c7e3a028.png">

[2016-10-03 12:28] smpallen99 commented on #218
Follow the instructions added to your brunch-config.js file

[2016-10-03 21:33] rakr commented on #218
Thanks @smpallen99, but I have followed the instructions and replaced the blocks for JavaScript and CSS.

[2016-10-04 02:04] #218 closed

[2016-10-13 00:25] holgerw opened #221 "Changeset specification is ignored"
According to the documentation the **register_resource** block should support the specification of **custom changeset functions**, defined on the model, for the update and create action.

But this configuration seems to be ignored. Even specifying custom functions, ex_admin falls back to the default changeset function.

This feature was introduced by https://github.com/smpallen99/ex_admin/pull/36

[2016-10-16 07:24] ronanh opened #222 "Issue creating model with an association"
I have created a simple phoenix application (Ecto 2.0) with a simple `Role` model and a `User` model that belongs to a role.

I followed the steps for setting up ExAdmin (I use ExAdmin module from Github) with no customization, everything seems to be working fine but when I add a `User` and associate it to a role, no association is created.

Phoenix traces when creating a `User` that belongs to a

[2016-10-19 17:58] ZombieHarvester opened #223 "referencing model in umbrella app"
I have ex_admin installed as a separate app in umbrella.

Product model in Admin app
[code]

Product model in Core app
[code]

i get the following error on `/admin/products`

[code]

But if i remove `belongs_to  :account, Core.Account` line from Product schema, then everything works fine. Same issue with `has_many` references.

'column a0.contract_info does not exist' where this is coming from?

P

[2016-10-21 02:59] adamkittelson opened #224 "association pluralization?"
I have a `has_many, through:` association called `:items_for_sale` in my application. When I try to update an item I get an error which I've tracked down to these lines in ex_admin:

https://github.com/smpallen99/ex_admin/blob/310b00c89a9f7719cdaf9796aee39b6904fd42b4/lib/ex_admin/repo.ex#L176-L177

[code]

for some reason my association appears to have been programmatically pluralized because at t

[2016-11-03 19:40] johnmosesman opened #227 "Support for timezones"
Hi there,

Is it possible to set the timezone for a datetime field?

[2016-11-13 10:38] vraravam opened #228 "Nested objects being invalid causes exception - not graceful"
I'm trying out the contact_demo repo as the example of this package. In the contact edit screen, when I click on the "Add New Phone number" button (for has_many in a nested form), and then I do not enter any phone number in the text box, but submit the form, this is the error that I get
[code]

[2016-11-13 10:41] vraravam opened #229 "CSV export should adhere to the currently applied filter"
As an admin user who is logged into the "system" which is using the latest `ex_admin`, and when I apply a filter in an index page, I assume that, *within that filtered index page*, the CSV results would also be filtered. This is useful to export reports that should be sent out to specific domain "clients", etc.

[2016-11-13 18:00] smpallen99 commented on #229
This has been fixed on master by #196

[2016-11-13 18:00] #229 closed

[2016-11-13 21:06] #201 closed

[2016-11-15 07:05] vraravam opened #231 "Page-specific titles"
I was going through [this](http://cloudless.studio/articles/27-implementing-page-specific-titles-in-phoenix) article - and it seemed something that could benefit the `ex_admin` project as a feature. Would you be interested in implementing this?

[2016-11-17 07:55] vraravam opened #232 "CSV export should follow the same columns definition as index table"
I was able to change the ex_admin resource page (eg taken is from [contact_demo](https://github.com/smpallen99/contact_demo/blob/master/web/admin/contact.ex) codebase) to:
[code]

The intent of this is that for any exposed resource, I would like the CSV export to "follow" the same columns, etc as the index table.
For eg, in an equivalent rails codebase using the active_admin gem, I might have done

[2016-11-18 00:43] vraravam opened #233 "CSV block generates exception when placed before the show block"
I copied the following [code](https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/csv.ex#L31):
[code]

But, none of the example blocks for custom CSV seems to work. Is the documentation out of date? I also referred to the tests for the csv module, but they are only testing the inner method - not the macro itself.
Please help resolve this issue - I'm stuck with my project.

[2016-11-18 00:44] vraravam commented on #233
This is the error stack that I get:
[code]

[2016-11-19 02:12] smpallen99 commented on #233
what version of ex_admin are you using?

[2016-11-19 03:48] smpallen99 commented on #233
The documentation is out of date. The column format still works, but calling column inside does not work. No error, but does not generate the columns. I've updated the contacts admin resource to use the list api.

[2016-11-19 04:04] smpallen99 commented on #232
This would be a huge architectural change to ex_admin. With new csv list API, I don't see how the value of the feature would exceed the cost to implement. I suggest you use `csv [:first_name, :last_name, :email, {:category, &(&1.category}]`.

[2016-11-19 04:04] #232 closed

[2016-11-19 04:10] smpallen99 commented on #231
I have a huge backlog to work on. However, I would accept a PR if your interested. If not, please close the issue.

If you do a PR, please make sure that its a configurable option since I'm not sure I would want to enable it on my projects.

[2016-11-19 04:12] smpallen99 commented on #228
Looks like a valid bug

[2016-11-19 04:13] smpallen99 commented on #227
I'm not sure what it would require to do so

[2016-11-19 04:16] smpallen99 commented on #224
I want to overhaul the repo/changeset design of ex_admin to better use the features of Ecto2 and support the new data types. I'll address this issue then. Thanks for submitting the issue.

[2016-11-19 04:19] smpallen99 commented on #223
Can you post your Core.Account schema please.

[2016-11-19 04:24] vraravam commented on #233
@smpallen99 - I incorporated your changes in `contact.ex` - but am still getting the error. Could you please reverify? I have verified that the `mix.lock` is the same as the one that you merged into `contact_demo`. If not, I can attach it to this ticket.

[2016-11-19 04:33] smpallen99 commented on #233
Let me see your complete contact.ex file please.

[2016-11-19 07:11] vraravam commented on #233
@smpallen99 - Here is the code: https://github.com/vraravam/contact_demo/blob/master/web/admin/contact.ex

[2016-11-19 18:54] smpallen99 commented on #233
It appears that the issue is with defining the csv block ahead of the show block. Moving the csv block below the show block fixes the issue. I'll reopen the issue and change the title appropriately.

[2016-11-19 19:45] #233 closed

[2016-11-19 19:52] #202 closed

[2016-11-19 20:16] #212 closed

[2016-11-19 22:24] smpallen99 commented on #186
We have modified the authorization protocol to dispatch based on resource instead of defn. This allows more control over authorization. I've updated the authorization section in the wiki with an updated example.

I'm closing this issue. If you cannot get this working with the new authorization protocol, please reopen the issue.

[2016-11-19 22:24] #186 closed

[2016-11-21 00:51] vraravam opened #236 "Filters not working"
I tried with the latest code in [contact_demo](https://github.com/smpallen99/contact_demo), and for eg in the contacts screen, I tried to search for "last_name" containing some characters. When the page refreshes, the selection (also reflected in the url as query parameters) always goes to the "Equals" selection for the first filtered field. I'm not sure if this is an issue with ex_admin or this c

[2016-11-21 03:43] #236 closed

[2016-11-21 03:49] smpallen99 commented on #118
support for :map and {:array, :map} done.

[2016-11-21 03:49] #118 closed

[2016-11-21 03:50] #8 closed

[2016-11-21 03:51] #19 closed

[2016-11-21 03:54] #105 closed

[2016-11-22 20:22] smpallen99 opened #237 "Ajax delete resource does not call after_filter"
Need to call after filter regardless of request type. Check each of the actions.

[2016-11-22 21:29] #237 closed

[2016-11-23 17:05] whitepaperclip commented on #221
+1

[2016-11-25 19:10] brandonparsons opened #239 "Different Repo Prefixes (Postgres Schemas)"
Hi there,

I'm leveraging postgres schemas for a multi-tenant database via `Ecto`'s built-in support for different query prefixes.

Is there a way to get this to work properly with `ex_admin`? Or a way to make a drop-down list / button with some kind of custom action to switch prefixes?

[2016-11-27 06:03] smpallen99 commented on #239
I have no experience with the new Ecto query prefixes so I can't comment on that.

There is no way of adding a global button or drop down at this time. However, you can add a custom action per resource. this could be customized to do a drop down.

You could add something to the dashboard, or add a custom page to do the selection.

[2016-11-27 16:13] brandonparsons commented on #239
Is there a way to customize the function calls that ex admin uses to query
for the resources on the show and index pages ?

On Sat, Nov 26, 2016 at 11:03 PM Steve Pallen <notifications@github.com>
wrote:

[2016-11-27 22:24] smpallen99 commented on #239
Yes. Look at the [Authorization protocol](https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/authentication.ex). If you implement this protocol, you get access to the query before the Repo fetch. Normally, this is used to filter resources based on some access control rules, but nothing says it has to be used for authorization.

Checkout [this wiki entry](https://github.com/smpallen99/

[2016-11-28 14:05] brandonparsons commented on #239
Thanks! I'll have a look when I get to the admin part of my project and see
if I can get it to work w/ the tenants.
On Sun, Nov 27, 2016 at 3:24 PM Steve Pallen <notifications@github.com>
wrote:

[2016-11-30 03:10] hisea commented on #227
I'v done this in my project. couplet things to note:

Do you want to store a timestamp with timezone info in db, or your data is stored in UTC?

As far as i know, Ecto doesnt support timestamp with timezone out of box, you have to look at
https://github.com/bitwalker/timex_ecto.

We used the above package but we still store all time in UTC. it's just a lot easier not to deal with timezon and dayli

[2016-12-01 08:04] vraravam opened #241 "How do I integrate "whatwasit" with "ex_admin"?"
I'm trying to incorporate the [whatwasit](https://github.com/smpallen99/whatwasit) package into the contact_demo project that uses ex_admin. I'm unable to follow since what I need is:
1.  Either the ex_admin should allow for an extra hook where the current user can be hooked into the changeset; (or)
2.  For the "changeset" method to be invoked with the 3rd (extra) optional parameter.

Any ideas on

[2016-12-02 07:42] vraravam commented on #241
@smpallen99 : Could you please help?
I have also asked the same question with some more details here: https://stackoverflow.com/questions/40927121/integrating-whatwasit-and-ex-admin

[2016-12-03 08:03] vraravam opened #242 "Returning new params in before_filter doesnt retain the new params"
According to [this](https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/register.ex#L376), we can return a tuple with the new parameters, but that doesn't get propogated to the actual method calls after the `before_filter`. I suspect that the ball is dropped in [resource_controller.ex](https://github.com/smpallen99/ex_admin/blob/master/web/ex_admin/resource_controller.ex#L131).

[2016-12-03 18:51] smpallen99 commented on #242
Please provide an example of this issue.

[2016-12-03 18:55] smpallen99 commented on #241
@vraravam You opened a hornets nest with this issue. I can't see an easy way for this integration at this time, especially with the current design for handling many to many relationships. @gwincr11 is working on refactoring the `ExAdmin.Changeset` and `ExAdmin.Repo` modules to make more use of `cast_assoc` in the model's changeset. After this refactor, I think it will be much easier to add support

[2016-12-04 23:20] mrkaspa commented on #138
is there a wip about this?, I'd like to contribute

[2016-12-05 04:56] davidqhr opened #244 "duplicate_modules Elixir.ExAdmin.Authorization.Any"
HI @smpallen99,

First of all, I have to say ExAdmin.Authorization is awesome.

My question is:

ExAdmin.Authorization.Any defined at:
https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/authentication.ex#L22-L25

But what I need is:
[code]

*So comes the warning:*

[code]

When I try to deploy with edeliver, show this error:
![image](https://cloud.githubusercontent.com/assets/5846959/

[2016-12-05 06:06] vraravam commented on #48
+1 - desperately miss this from active_admin

[2016-12-05 06:12] vraravam opened #245 "Filters for string fields should be case-insensitive"
As a user, I would be looking to search without knowing the exact case of the value in the string field/db-column. Thus, it makes sense (imo) to perform the search in a case-insensitive manner.

[2016-12-05 09:54] vraravam commented on #242
Was not able to reproduce it in master HEAD as of this moment - but, still seems to be a bug in `v0.4.2`

[2016-12-05 09:54] #242 closed

[2016-12-05 10:17] vraravam opened #246 "Filters for belongs_to association fields not appearing"
I have a model:
[code]
with the associated migrations, model, schema, etc.
When I expose the resource via ex_admin, I was expecting to see the Role as a dropdown in the filters section. I also tried to remove the `inserted_at` and `updated_at` fields with the `except` option.

I suspect the issue is with the code [here](https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/filter.ex#L59)

[2016-12-05 12:21] vraravam commented on #236
@smpallen99 : Does [this line](https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/filter.ex#L118) need any changes? I am seeing some random times where the url has "#{name}_eq" - but, if I manually change it to "#{name}_contains", the filtering starts working.

[2016-12-05 15:40] vraravam commented on #89
@smpallen99 - any updates on this? I have a simple belongs_to <-> has_many (and NOT a has_many_through) relationship. I'm using the latest master branch of ex_admin - and this doesn't seem to work

[2016-12-05 17:57] gwincr11 commented on #241
@vraravam yes, as @smpallen99 said I don't think you could do this today. I am looking at refactoring the controllers to use your models changeset instead of the ex_admin change set. When this was written, ecto did not have support for nested changesets so we needed some magic to break up has many writes.

I think I have a pretty good idea how I am going to approach the refactor, I am hoping to ge

[2016-12-05 18:03] vraravam commented on #241
Not sure if this will help, but I got this working with a bit of a hack:
[code]
[code]
Of course, this only handles the current object, and not any relationships (for now)...

[2016-12-05 23:29] kyprifog opened #248 "Question: Map type in admin"
![image](https://cloud.githubusercontent.com/assets/991756/20906864/480784ac-bb18-11e6-90b3-9b5791e95c39.png)

In this case I need the map type to not have a schema, so I am receiving this message (rightly so) when trying to implement the attribute.  My question is how should I approach this, should I use :text column instead?  Simply inputing the map in a text box and validating that its structur

[2016-12-06 00:40] vraravam opened #249 "Wrap text within the actions links with a span"
I would like to increase horizontal screen usage - and one idea is to replace the words ("View", "Edit" and "Delete") in the actions column in index pages with icons. To enable this, I would like the text to be contained within `span` tags with specific/appropriate class names.

[2016-12-06 02:06] julianrogmans opened #250 "Potentially missing PR code that was merged"
#65 This PR appears to add support for Timex.Ecto.Date in the admin panel. But when browsing master I can't seem to find it. Was this refactored to something else or accidentally dropped?

This is what is happening currently.
Thanks

![image](https://cloud.githubusercontent.com/assets/10566942/20910278/75b1198e-bb15-11e6-9359-68d96a34527f.png)

[2016-12-06 02:31] vraravam commented on #249
For eg, in [here](https://github.com/smpallen99/ex_admin/blob/master/lib/ex_admin/themes/admin_lte2/index.ex#L106-111), the content of the `a` (1st argument) can be within another `span(..., class: "#{action}_link_content")` - this can pave the way for us to use CSS to manipulate the content within that `span` and replace the text with a small image.

[2016-12-06 03:21] vraravam opened #251 "Does not allow custom css or js files"
Looking through the code in https://github.com/smpallen99/ex_admin/blob/master/web/templates/layout/admin_lte2.html.eex - looks like we cannot customize the css and js. Please include the following line (for css):
[code]
Also, please include a corresponding line for `app.js`

cc @smpallen99

[2016-12-06 13:49] vraravam commented on #249
Submitted a PR

[2016-12-06 13:49] #249 closed

[2016-12-06 22:00] smpallen99 commented on #251
There is already a way to add a custom head_template by setting `config :ex_admin, :head_template` with `{layout, template}`. So you can add your own css and js in there.

[2016-12-06 22:00] #251 closed

[2016-12-07 02:04] smpallen99 commented on #241
Nice solution. Perhaps a little hackie, but should work until we get an official integration.

[2016-12-07 02:48] #246 closed

[2016-12-07 02:59] #250 closed

[2016-12-07 03:01] smpallen99 commented on #250
I pulled back in the code from #65. However, that may not fix your issue. If not, you should implement the ExAdmin.Render protocol for the desire types in your project. I'm not going to implement them for Timex since i don't want to add the Timex dependency into the ex_admin.

[2016-12-07 03:07] smpallen99 commented on #244
`defimpl ExAdmin.Authorization, for: Any do` is already defined for ex_admin, so you will have to implement it for each of your models.

[2016-12-07 04:27] vraravam commented on #251
@smpallen99 - Thanks, I had not gone through that part of the code, and have followed your suggestion and implemented the same.

[2016-12-07 09:39] veetase commented on #198
@smpallen99 It doesn't work to convert them back into strings in model's changeset, because it already been cleared. Perhaps there is a validation before this.

[2016-12-07 10:18] Swatto opened #255 "Custom controller method is not called"
When I defined I use the `define_method` inside the `controller` block, the function is not called.

This happened with those versions:

- Pheonix: 1.2.1
- ExAdmin: 0.8.2

This is the simpliest example I could do:

[code]

The issue is simple as I'm not redirected.

[2016-12-07 10:37] jeffdeville commented on #239
FYI @brandonparsons, Ecto 2.1 will allow you to pass the prefix as a keyword parameter to Repo actions. If you're using anything prior to that, you'll have to alter the queryable itself.

See https://github.com/promptworks/tenantex/blob/master/lib/tenantex/queryable.ex to see how I've been doing that so far.

[2016-12-07 14:06] benrom commented on #239
@jeffdeville @smpallen99 Any idea how to install ex_admin with ecto 2.1-rc ? I get a dependency clash

[2016-12-07 14:39] jeffdeville commented on #239
I'm sorry @benrom - I haven't tried it. Perhaps the overrided keyword can help?  https://hexdocs.pm/mix/Mix.Tasks.Deps.html

[2016-12-07 14:49] benrom commented on #239
@jeffdeville I tried that, but didn't manage to get it working. The scrivener dependency also has a fixed postgrex dependency (the postgrex version compatible with Ecto 2.1-rc is 1.0-rc).

[2016-12-07 15:29] OvermindDL1 commented on #250
You can wrap the defmodule/defprotocol/defimpl in a `Code.ensure_loaded?(Atom)` test, such as:
[code]
All without adding a dependency.

[2016-12-07 15:29] OvermindDL1 commented on #250
However, do note, the latest version of Timex does use Elixir's native calendar format instead of its own custom format, so the user should probably update Timex anyway.

[2016-12-07 18:59] smpallen99 commented on #250
@OvermindDL1 I created the render protocol to allow for adding custom types. So I don't see the need to add this ex_admin.

[2016-12-08 01:39] smpallen99 commented on #255
It appears that `define_method` was never implemented. You have a couple other options.

You can use a before_filter like this:

[code]

The following [wiki entry](https://github.com/smpallen99/ex_admin/wiki/How-to-add-custom-actions) shows how to create a custom controller action.

I'll be removing the `define_method` api.

[2016-12-08 08:11] Swatto commented on #255
The wiki entry was really what I need 👍.
For sure, it could be reference inside documentation since it's very common to overwrite the regular behaviour of an action.

[2016-12-08 20:50] frank-taylor-pcg opened #256 "Incomplete documentation for Override the Actions Column (ExAdmin.Index)"
On the [ExAdmin.Index](https://hexdocs.pm/ex_admin/ExAdmin.Index.html) page under **Override the Actions Column** a macro or function named `safe_concat` is used to join the results of the `link_to` methods together. I couldn't find reference to this so I rolled my own. For reference, here's the version that I created:

[code]

I placed this inside the module where I was redefining the action list

[2016-12-10 03:44] vraravam commented on #183
@smpallen99 , @romul - I have a similar issue. I am trying to register a renderer for `Timex.Ecto.Date` using the following code:
[code]
Since this is not even called, I'm not able to handle this in a consistent manner. Could you please suggest a fix? I'm using the HEAD of the master branch of ex_admin from your repo.

[2016-12-10 11:46] vraravam commented on #183
@romul - nope, that doesn't work either. (I assume that the `field_type_matching` is instead of the `defimpl ExAdmin.Render, for: Timex.Ecto.Date`...?

[2016-12-10 13:50] vraravam commented on #250
@smpallen99 , @romul - Is there a location where we need to put the `defimpl ExAdmin.Render, for: Timex.Ecto.Date`? I tried putting it into the `lib` folder - no luck :(

[2016-12-10 16:20] vraravam commented on #183
@romul , @smpallen99 - I also tried the `raise "called"` as suggested in one of the previous comments, and can attest that its definitely not being invoked. But, since I am using Elixir 1.3.4, I switched over to using the built-in `calendar` structs, instead of coercing `Timex` into my codebase.

[2016-12-10 19:16] smpallen99 commented on #183
I don't believe there is anything wrong with ExAdmin.Render protocol for Timex. I just tested the following successfully on ExAdmin master.

With the following resource file:

[code]

After adding Timex dependencies:

[code]

And adding

[code]

I get the following error for the User index page

[code]

Then I created the following file:

[code]
And the index page displays the timestamps correctly

[2016-12-10 19:21] smpallen99 commented on #183
@vraravam  for the ~D[...] error, try implementing the protocol for `Date`. Here is how i figured out the struct.

[code]

Since Ecto now uses the Elixir built in types, I'll add these to the ExAdmin Render implementations.

[2016-12-10 20:19] vraravam commented on #183
@smpallen99 - Thanks for the detailed steps. I was missing a couple of steps:
1. The file I was trying to put the `defimpl` was in the `lib` folder - which wasn't getting loaded.
2. I was also missing the `use` statement.

Do you think this bit of detail might be helpful for others? If so, would be mind putting it in the docs?

[2016-12-10 20:39] smpallen99 commented on #183
@vraravam just pushed an update to support rendering Elixir's Date, Time, and DateTime types. So you don't need to implement the Render protocol for these now.

[2016-12-11 17:25] smpallen99 commented on #183
@vraravam It should not matter where you put the file containing defimpl. Just make sure its not in a module and that the file type is .ex. It appears that you were trying to implement a protocol for Timex.Ecto.Date, where the error was telling you the protocol for ~D[…] was not implemented.

I will be documenting the `field_type_matching` config option.

[2016-12-11 18:12] #183 closed

[2016-12-12 01:55] vraravam opened #257 "Missing underscore in resource name when generating form for either create or edit"
Due to this, when the user submits the form, the resource key within the params object is missing the underscore, and thus there is no changeset.

This is with the latest version of `ex_admin`.

[2016-12-12 14:22] smpallen99 commented on #257
Cannot reproduce

[2016-12-13 07:46] vraravam commented on #257
@smpallen99 : Please run the latest code from this branch/commit: https://github.com/vraravam/contact_demo/commit/44a4e36407d7d5224df158e2dab6643133356716 - and take a look at the 'Purchase Order' : index page, show page and form for edit/update - collectively they showcase the bug.

[2016-12-14 17:33] vraravam opened #259 "Unable to set page-specific javascript block in forms"
Please see the commit in this branch: https://github.com/vraravam/contact_demo/tree/page-specific-javascript-not-rendering

In the 'Groups' resource, for the form object, and using the `script` block, I am unable to get the script to be rendered.
<img width="1038" alt="screen shot 2016-12-14 at 10 56 28 pm" src="https://cloud.githubusercontent.com/assets/69629/21193234/8bc8aba4-c251-11e6-8b0a-e070

[2016-12-16 02:50] vraravam commented on #257
@smpallen99 @romul - could you please post the status of this issue? It's a blocker for me (and others I think) who have models/entities that have underscores in the name.
If you can give me a hint, I can try and start working on a PR for fixing it.

[2016-12-16 03:21] smpallen99 commented on #257
@vraravam Just to be clear, this is a cosmetic issue where the space and capitalization is missing, but the update is working. Correct?

[2016-12-16 03:24] vraravam commented on #257
@smpallen99 - no, if you see the screenshot of the console log that I attached above, the key is `purchaseorder` - which doesn't seem to update anything in the backend.

[2016-12-16 03:37] smpallen99 commented on #257
I have your update checked out and the update is working. I agree that "purchaseorder" is not the correct key, but it appears to be working anyway.

[code]

[2016-12-16 04:48] #257 closed

[2016-12-16 04:49] smpallen99 commented on #257
@vraravam Give it a try now.

[2016-12-16 05:07] smpallen99 commented on #259
try this
[code]

[2016-12-16 11:11] vraravam commented on #259
@smpallen99 - thanks, that works!

[2016-12-16 11:11] #259 closed

[2016-12-16 11:39] vraravam commented on #257
@smpallen99: Thanks - this works now!

[2016-12-16 17:48] smpallen99 commented on #256
@frank-taylor-pcg Thanks for reporting this. It doesn't surprise me that some of the examples are out of date. We should have tests for each of the given examples so we can catch these errors as the project evolves :) I'll take a look at this issue soon.

[2016-12-16 17:50] vraravam commented on #245
Looks like this needs to be addressed in the `ex_queb` package codebase - I will raise an issue and a PR over there.

cc @smpallen99

[2016-12-16 17:50] #245 closed

[2016-12-17 21:10] krisnod commented on #222
I have an exactly same kind of problem. Any idea where this behavior come from?

[2016-12-17 21:35] smpallen99 commented on #222
try adding `:role_id` to your Users's changeset function cast call here: https://github.com/ronanh/test_exadmin/blob/master/web/models/user.ex#L16

[2016-12-19 06:08] vraravam opened #260 "Inability to render has_many nested form with a dropdown of a belongs_to association"
I have a many-to-many association, but since the join entity also has some pertinent fields, I wanted to provide the `form` with a `has_many` nested-form. (In case it makes a difference, I'm using the `ExAdmin.Theme.AdminLte2` theme.

The join table/entity:
[code]

One of the entities:
[code]
and the other entity:
[code]

now, the admin form dsl:
[code]
When I try to render the form, this is the e

[2016-12-19 21:07] smpallen99 commented on #260
providing the join table in has_may is not supported by ex_admin. You will need to build your form inputs manually, then sure you changeset can handle the correct params.

[2016-12-22 13:58] vraravam commented on #260
@smpallen99 - Is this not fixed in [PR#210](https://github.com/smpallen99/ex_admin/pull/210) ?

[2016-12-22 21:14] smpallen99 commented on #260
@vraravam Sorry, I've never had the need to user your scenario above. Nor do I remember testing for anyone else. So, I'm not surprised that it doesn't work.

@gwincr11 is working on a significant refactor of associations. After he completes work on existing supported features, we can look at adding support for your scenario above.

[2016-12-25 05:26] vraravam opened #264 "Render for Date not working in show screen"
I have an Ecto.Date field in my model:
[code]
For the following dsl in the index page, it renders fine:
[code]
but, for the show page, it doesn't work:
[code]

I'm not sure if this is an issue due to the data type of the field or whether its due to the many-to-many join table being rendered.

[2016-12-28 03:13] loongmxbt opened #266 "has_many through problem, preload all but association not loaded"
I've check all the many_to_many issues and has_many issues. And followed the examples to do a many-to-many association. Product <N-N> Tag

[code]

[code]

[code]

[code]

But when visit product show page.it raises an error:
[code]

In my previous one-to-many assciations, all these works fine. But here I can't figure out why the associations aren't loaded. Hope some help, thanks!

[2017-01-03 02:44] chrisortman opened #267 "Error compiling with Ecto 2.1.1"
I get an error in a new phoenix project when I try to do `mix deps.compile` that is using Ecto 2.1.1

[code]

[2017-01-03 03:00] dy2k commented on #267
Ecto 2.1.1 has deprecated the use of Ecto.Model, need to import Ecto instead as in my fork: https://github.com/dy2k/ex_admin/commit/374cd3c7285a17b05d949944f11f29533d9caff0#diff-75c165bdf904a7a8b835dd36f41e6a93

Was thinking of creating a pull request

[2017-01-03 03:36] chrisortman commented on #267
@dy2k I was too, I have it ready to go, why change to `Ecto` instead of `Ecto.Schema` ?

[2017-01-04 15:46] #267 closed

[2017-01-05 09:44] mdsadiq opened #270 "Conflict - dependency resolution"
I am trying out phoenix and examine for the first time,
I am getting a hex resolution failure.

if i do ` {:scrivener_ecto, "~> 1.1.0",}, `  in mix.exs of phoenix , I get the following

Is there a conflict in dependencies that's not covered

[2017-01-08 16:56] whitepaperclip opened #272 "Removing branding from admin themes"
Any thoughts on allowing users to change footer/header text content through config options?

[2017-01-09 05:17] ArthurPai opened #273 "How to add custom theme?"
I have project need custom theme, how can i add custom theme?

or, change the color of the theme (not just the skin, maybe the side color, font color, warning flash color etc.)

can you give any suggestion, thank you.

[2017-01-10 01:15] DylanGriffith opened #274 "Input type of `:text` containing `#` does not appear in edit form"
We're trying to build a markdown editing field and when we add a heading using `#` the text area appears empty after saving then going back to edit it.

We've noticed that there is no explicit documentation for text areas (ie `input :field_name, type: :text`). Is this supported?

Everything else seems to work just fine, we get a textarea and can pass through a `rows` attribute but editing is empty

[2017-01-10 03:19] DylanGriffith commented on #274
We were able to workaround our issue by always adding a newline to the front of the trimmed text field before saving like so:

[code]

[2017-01-11 03:42] loongmxbt commented on #266
After many trials, I've found the problem.

[code]

should inside the register_resource.

which is
[code]

if `query do` is parallel with `register_resource`.
It won't preload the thing you ask.
BUT it will preload all the defaults. such as has_many and belongs_to
So, that case we will see the has_many belongs_to works, but here many_to_many doesn't work.
So strange and let me check if my many_to_

[2017-01-11 03:42] #266 closed

[2017-01-11 22:29] carakan commented on #270
@mdsadiq I've had this problem, you only needs to remove `{:scrivener_ecto, "~> 1.1.0",}` if you added after show the first error and in the `{:postgrex, "~> 0.13.0",},`  you needs to add `{:postgrex, ">= 0.13.0", override: true},` and run `mix deps.get`

[2017-01-15 18:01] hisea opened #276 "Phoenix_ecto dependency conflict"
Failed to use "phoenix_ecto" (version 3.2.1) because
  deps/ex_admin/mix.exs requires ~> 3.0.0
  mix.lock specifies 3.2.1

[2017-01-16 09:52] naps62 opened #279 "Custom column label and render function prevent sorting?"
I have a datetime column:

[code]

which is sortable by default (expected). But whenever I add a custom label, or a custom render function for each field (both of which I need), I can no longer sort the column:

[code]

Am I missing something here?